/* ==========================================================================
   HTML5 display definitions My styles 
   ========================================================================== */
#featured_home h2, #featured_home .h2 {border-bottom: 1px solid #cccccc;}
#featured_home h2 span, #featured_home .h2 span {border-bottom: 3px solid #ff4911; color:#ff4911;}
.head_line { width: 100%; /*height: 160px;*/ background: #243339 url(../images/my/background-arrow-bottom.png) repeat-x left bottom; }
#header-search { width: 35% !important; }
body { background: #f3f5f5 url(../images/my/header-bg.jpg) repeat left top; }
.request-call-back { display: inline-block; padding-top: 20px; }
.head_cms_shop { width: 100%;  position: relative;top: -30px;background: #e8e8e8 url(../images/my/background-quote3.png) repeat-x left top; height:44px}
selection .std_erudyt_dec {max-width: 1260px; margin: 0 auto; padding: 0 100px; display:none;}
.head_cms_shop .show_more {   }
.head_cms_shop .button.show_more { line-height: 1.5; }
.head_cms_shop .button.show_more span {cursor: pointer;}
button.show_more, .button.show_more {max-width: 1260px; margin: 0 auto; padding: 0 100px; display:block;border: 0; outline:none;
background: none; }
selection { display:block; max-height: none;  background: #e8e8e8 url(../images/my/background-quote2.png) repeat-x left bottom; height: auto;z-index: 2;
top: -38px; position:relative; width:100%;}
selection>div {max-width: 1260px; margin: 0 auto; padding: 0 100px;}
button.show_more p, .button.show_more p { font-size: 22px; color:#636363; }
button.show_more span, .button.show_more span { font-size: 28px; color:#2980b9; }
#easyflags a { margin-left:15px;}
#easyflags a.active_lang { color:#ff8f71; font-weight:bold;}
.cart-table .product-cart-actions .button { display:block !important;}
.head_action_block {position: absolute;
top: 14px;
right: 0;
margin-right: 170px;
font-size: 15px;
width: 240px;
line-height: 15px;
text-align: center;
border-right: 1px solid #636363;
padding-right: 19px;}
.header-search_comment {font-size: 12px; padding-left:10px;}
.open_fone_0 { border: 2px solid #2980b9; border-bottom:none; background-color:#FFF; margin-left: 200px; height:35px; position:relative; z-index:1 }
.logo { margin-top:10px; margin-left:30px; }
#header-nav .nav-container { margin-top:10px; }
.open_fone_0 span { padding-top: 7px; display: block; float: left; padding-left: 15px; color:#2e8ab8; }
.open_fone_0>a.close-form { margin:9px !important }
.open_fone_b table.table_phones span { padding:5px; font-size: 16px; display: inline-block; }
.open_fone_b table.table_phones span img { width: 15px; height: 15px; margin-left:10px; margin-top: 4px;}
.open_fone_b { padding: 10px 15px 10px 13px; border: 2px solid #2980b9; position:relative; z-index:0; margin-top:-2px; background-color:#FFF; }
#form-call-back { top:100px; background-color:#FFF; border: 2px solid #2980b9; box-shadow: -2px 6px 6px -2px #cccccc; -moz-box-shadow: -2px 6px 6px -2px #cccccc; -webkit-box-shadow: -2px 6px 6px -2px #cccccc; }
#more_numbers { width: 375px; padding: 5px; top: 20px; margin-left: 40px; position:absolute; z-index: 100000;}
a.close-form, .btn-remove {  display: inline-block; width: 16px; height: 16px; overflow: hidden; text-indent: -999px; position:relative;}
a.close-form {position: absolute;
right: 0;}
a.close-form::before {content:""; width: 18px; border-top: 1px solid #ff8f71; position: absolute;
right: 0px;
-moz-transform: rotate(45deg);
-webkit-transform: rotate(45deg);
-o-transform: rotate(45deg);
 -ms-transform:rotate(45deg);
top: 6px;
left: -4px;}
a.close-form::after {content:""; width: 18px; border-top: 1px solid #ff8f71; position: absolute;
right: 0px;
-moz-transform: rotate(-45deg);
-webkit-transform: rotate(-45deg);
-o-transform: rotate(-45deg);
-ms-transform:rotate(-45deg);
top: 7px;
left: -4px;}
#easyflags { margin-top:0 !important;}
#form-call-back { position: absolute; z-index: 100002; width: 292px; min-height: 30px; overflow: hidden; top: 78px; left: 27%; }
#form-call-back>p { display:none; }
#webform_1_form { margin: 5px 20px; }
#webform_1_form .buttons-set { margin:0 !important; padding:0 !important; border:none !important; }
#webform_1_form .buttons-set p.required { display: none; }
#form-call-back>.close-form.call-back { float:right; margin: 6px 4px;}
.telephone .tel-home { min-height: 20px; padding: 0 0 0 30px; color: #FFF; font-weight: normal; font-size: 26px; background: url(../images/my/header_phone_.png) no-repeat; background-size: 18px; background-position-y: 4px; background-position-x: 4px; }
.request-call-back>.text1 { display: inline-block; margin-left:60px; }
a.more_numbers { margin-left:20px; }
.menu_head { width: 45%; display: block; float: left; }
.menu_head ul { }
.menu_head ul li { display:inline; margin-right: 15px; }
#form_login_mini { width: 220px; left: auto; margin: 0; border: 2px solid #2980b9; background-color: #FFFFFF; top: 29px !important; z-index:10005 }
.soc_login { display:none; }
#mini_login_form button span { color:#FFFFFF; }
#mini_login_form .login-links a { font-size:12px; }
#mini_login_form a.oop_reg { font-size:12px; }
#mini_login_form input { font-size:13px !important; }
#mini_login_form #rem_rr { float: left }
#mini_login_form .actions { margin: 15px 0 0; }
#mini_login_form span.error-msg { color:#FF0000; font-size:12px; line-height: 1.0; padding-left:10px; }
.ajax_add_co { }
.hloader { }
#form_login_mini .lightb_inner { padding: 10px 10px 10px 10px; }
.lightb_inner div { color:#636363 !important; }
.lightb_window { position: absolute; z-index: 1000; width: 292px; min-height: 30px; overflow: hidden; top: -8px; }
.remember a { color:#2e8ab8 !important; }
#form_login_mini>a.close_but.btn-remove { position: absolute; right: 0; text-indent:0 !important; border:none; }
#form_login_mini .btn-remove:after { color:#ff8f71; font-size:15px; font-weight:normal !important;}
.header-minicart .block-subtitle .close { color:#ff8f71 !important;}
.minicart-wrapper p.empty { padding-left:10px; margin-bottom:10px; display:block;}
.store-language-container { float:right; }
.form_login_blok { float:left; width:20%; }
#form_login { }
#form_login ul { }
.skip-link .icon  {width: 45px !important;
height: 37px !important;}
#form_login ul li { display:inline; margin-right: 15px; }
.skip-cart .icon { background: url(../images/my/icone_cart.png) no-repeat !important; }
#footer { background: #243339 url(../images/my/background-arrow-top.png) repeat-x left top; margin-top: 64px; border-bottom: 10px solid #0981b3; padding-bottom: 7px; color: #ffffff; }
.cms-index-index .std_erudyt { max-height: 0px; overflow: hidden; position: relative; color: #666; font-size: 12px; line-height: 1.2; }
.desc-bottom .show_more a { display: inline-block; position: relative; width: 18px; height: 18px; background: url(../images/icon_plus.png) no-repeat center center; }
/*******************************************************************/
/* Start Featured Authore Section */
.featured-author { margin-top:0px; background:#f8f8f8; border-top:7px solid #ff8f71; border-bottom:2px solid #ff8f71; position:relative; width:75%; float:right; margin-top:-10px; }
.featured-author:after { content: "."; display: block; clear: both; visibility: hidden; line-height: 0; height: 0; }
.author-img-holder { border:8px solid #ff8f71; left: 40px; position: absolute; top: -80px; -webkit-border-radius: 100%; -moz-border-radius: 100%; border-radius:100%; z-index:100 }
.author-img-holder img { -webkit-border-radius: 100%; -moz-border-radius: 100%; border-radius:100%; }
.author-img-holder img:hover { opacity: .9; -webkit-transform: scale(1.05, 1.07); -webkit-transition-timing-function: ease-out; -webkit-transition-duration: 250ms; -moz-transform: scale(1.05, 1.07); -moz-transition-timing-function: ease-out; -moz-transition-duration: 250ms; position: relative; z-index: 99; }
.featured-author .left { width:100%; float:left; background-color:#FFF; }
.featured-author .right { width:43%; float:right; padding:5px 27px 10px 10px; background:#f3f4f6; }
.current-book .desc.std { line-height:1.25; font-size:13px; }
.current-book .desc.std p { margin: 0 0 8px; }
.author-det-box { position:relative; }
.avtor_h1 { padding-left: 200px; padding-top: 15px; text-align: center; padding-bottom: 0px; }
.avtor_top_blok { position: absolute; z-index: 1000;
margin-left: 295px;
margin-top: -43px; width: 905px; }
.avtor_top_blok h3, .avtor_top_blok .h3 { color: #ff8f71; font-size:24px; float:left;margin-left: 240px; }
.avtor_top_blok a { color: #ff8f71; float:right; padding-top:10px; }
.author-det { padding: 0px 0px 20px 0px;
overflow: hidden; margin-left:250px;

display: inline-block;
width: 70%;
 }
.author-det-box .title, .author-det-box .title2 { display:block; margin:0 0 5px; font-size:24px; }
.author-det-box .title { color:#070707; }
.author-det-box .title2 { color:#ff8f71; margin:0 0 15px; }
.author-det-box .books-list { list-style:none; margin:0 0 0 -10px; }
.author-det-box .books-list li { float:left; /*margin:0 0 10px 10px; width:100px;*/ }
.current-book { float: left; margin-right: 10px; width: 63%; }
.current-book .title { font-size:16px; margin:0 0 10px; display:block; }
.current-book .title a { color:#636363; }
.c-b-img { float: right; width: 108px; }
.c-b-img a { position:inherit !important; display:inherit !important; border:none; }
.featured-author .ico-holder { text-align: center; width: 180px; float: right; display: block; margin-top: -20px; }
.featured-author #socialicons > a { float:none; }
/* End Featured Authore Section */

.cms-home .std>.page-title>h2 { display:none; }
/*********************************************************************/
.products-grid--max-5-col > li { background-color:#FFFFFF; border:1px solid #cccccc; }
.products-grid--max-5-col .product-image { border: none !important }
.products-grid--max-5-col li:hover { border:1px solid #3399cc; }
.products-grid--max-5-col .product-image { padding-top: 10px; }
.new_product_home { margin-top:10px; border-bottom: 1px solid #cccccc; margin-bottom: 100px; padding-bottom: 10px; }
.new_product_home h2.subtitle, .new_product_home .h2.subtitle { text-align:left !important; border-top: none !important; padding:0px !important; }
.new_product_home h2.subtitle span, .new_product_home .h2.subtitle span { border-bottom: 3px solid #3399cc }
/*********************************************************************/
#latestt-posts { border-bottom: 1px solid #cccccc; margin-top: 20px; width:75%; float:left; }
#latestt-posts .contentblog { background-color:#FFF; }
#latestt-posts .contentblog ul { padding-top:0.5em }
#latestt-posts h2, #latestt-posts .h2 { text-align:left !important; border-top: none !important; padding:0px !important; color:#98B827; border-bottom: 1px solid #cccccc; margin-bottom:0 !important }
#latestt-posts h2 span, #latestt-posts .h2 span { border-bottom: 3px solid #98B827 }
#latestt-posts .last-postss li { display:inline-block; width: 49%; vertical-align:top; }
#latestt-posts .last-postss li a { margin: 0 0 5px; font-size: 18px; line-height: 24px; }
#latestt-posts .last-postss li .timee-post { text-align: right; display: inline-block; width: 100%; }
.last-postss span.shortt-content a img { margin-top: -15px !important; margin-right: 10px !important; }
a.title-adress-post-body { }
/* Start Testimonials Section */

.testimonials { float:right; width:24%; border-bottom: 1px solid #cccccc; margin-top: 20px; }
.testimonials h2 span, .testimonials .h2 span { border-bottom: 3px solid #98B827; }
.testimonials h2, .testimonials .h2 { border-bottom: 1px solid #cccccc; color: #98B827; margin-bottom: 0 !important }
.testimonials .bx-viewport { background-color:#FFFFFF !important; }
.testimonials .bx-wrapper .bx-viewport { -moz-box-shadow: 0 0 0 #fff; -webkit-box-shadow: 0 0 0 #fff; box-shadow:0 0 0 #fff; border: solid #fff 0; background: transparent; height: 255px !important }
.author-name-holder { background:url(../images/my/author-img-holder.png) no-repeat; width:93px; height:98px; margin:0 auto 17px; text-align:center; }
.author-name-holder img { -webkit-border-radius: 100%; -moz-border-radius: 100%; border-radius: 100%; display: inline-block; margin: 10px 0 0; width: 78%; margin-bottom:18px; }
.testimonials .title { text-align:center; font-size:18px; display:block; text-transform:uppercase; font-weight:normal; }
.testimonials .title span { color:#a6cf42; display:block; font-size:12px; }
.testimonials p { background:url(../images/my/qouts-icon.png) no-repeat top left; font-size:12px; }
.testimonials .bx-pager { display:none; }
.testimonials .bx-wrapper .bx-controls-direction a { top:30%; }
.testimonials .bx-wrapper .bx-prev { left: 30px; }
.testimonials .bx-wrapper .bx-next { right:30px; }
.testimonials .bx-wrapper .bx-prev { background: url(../images/my/controls1.png) no-repeat 0 -32px; }
.testimonials .bx-wrapper .bx-next { background: url(../images/my/controls1.png) no-repeat -43px -32px; }
.testimonials .bx-wrapper .bx-prev:hover { background-position: 0 0; }
.testimonials .bx-wrapper .bx-next:hover { background-position: -43px 0; }
.testimonials .slide { padding-left:10px; padding-right:10px; width: 280px !important; }
/* End Testimonials Section */

.testimonials .bx-wrapper .bx-viewport:after {
    content: '';
    position: absolute;
    background: linear-gradient(to top, rgba(255, 255, 255, 1), rgba(255, 255, 255, 0));
    bottom: 13px;
    width: 100%;
    z-index: 100;
    height: 25px;
}
.testimonials .bx-wrapper .bx-viewport:before {
    content: '';
    position: absolute;
    background: white;
    bottom: 0;
    width: 100%;
    z-index: 101;
    height: 15px;
}
/** RESET AND LAYOUT
===================================*/

.bx-wrapper { position: relative; padding: 0; *zoom: 1;
width:285px !important; max-width: 285px !important; height: 255px; }
.bx-wrapper img { max-width: 100%; display: block; padding-top: 12px; margin-left: 10px }
/** THEME
===================================*/

.bx-wrapper .bx-viewport { -moz-box-shadow: 0 0 5px #ccc; -webkit-box-shadow: 0 0 5px #ccc; box-shadow: 0 0 5px #ccc; border: solid #fff 5px; background: #fff; }
.bx-wrapper .bx-pager, .bx-wrapper .bx-controls-auto { position: absolute; bottom: -30px; width: 100%; }
/* LOADER */

.bx-wrapper .bx-loading { min-height: 50px; background: url(../images/bx_loader.gif) center center no-repeat #fff; height: 100%; width: 100%; position: absolute; top: 0; left: 0; z-index: 2000; }
/* PAGER */

.bx-wrapper .bx-pager { text-align: center; font-size: .85em; font-family: Arial; font-weight: bold; color: #666; padding-top: 20px; }
.bx-wrapper .bx-pager .bx-pager-item, .bx-wrapper .bx-controls-auto .bx-controls-auto-item { display: inline-block; *zoom: 1;
 *display: inline;
}
.bx-wrapper .bx-pager.bx-default-pager a { background: #666; text-indent: -9999px; display: block; width: 10px; height: 10px; margin: 0 5px; outline: 0; -moz-border-radius: 5px; -webkit-border-radius: 5px; border-radius: 5px; }
.bx-wrapper .bx-pager.bx-default-pager a:hover, .bx-wrapper .bx-pager.bx-default-pager a.active { background: #000; }
/* DIRECTION CONTROLS (NEXT / PREV) */

.bx-wrapper .bx-prev { left: 10px; background: url(../images/my/controls.png) no-repeat 0 -32px; }
.bx-wrapper .bx-next { right: 10px; background: url(../images/my/controls.png) no-repeat -43px -32px; }
.bx-wrapper .bx-prev:hover { background-position: 0 0; }
.bx-wrapper .bx-next:hover { background-position: -43px 0; }
.bx-wrapper .bx-controls-direction a { position: absolute; top: 50%; margin-top: -11px; outline: 0; width: 32px; height: 32px; text-indent: -9999px; z-index: 9999; }
/* AUTO CONTROLS (START / STOP) */

.bx-wrapper .bx-controls-auto { text-align: center; }
.bx-wrapper .bx-controls-auto .bx-start { display: block; text-indent: -9999px; width: 10px; height: 11px; outline: 0; background: url(../images/controls.png) -86px -11px no-repeat; margin: 0 3px; }
.bx-wrapper .bx-controls-auto .bx-start:hover, .bx-wrapper .bx-controls-auto .bx-start.active { background-position: -86px 0; }
.bx-wrapper .bx-controls-auto .bx-stop { display: block; text-indent: -9999px; width: 9px; height: 11px; outline: 0; background: url(../images/controls.png) -86px -44px no-repeat; margin: 0 3px; }
.bx-wrapper .bx-controls-auto .bx-stop:hover, .bx-wrapper .bx-controls-auto .bx-stop.active { background-position: -86px -33px; }
/* PAGER WITH AUTO-CONTROLS HYBRID LAYOUT */

.bx-wrapper .bx-controls.bx-has-controls-auto.bx-has-pager .bx-pager { text-align: left; width: 80%; }
.bx-wrapper .bx-controls.bx-has-controls-auto.bx-has-pager .bx-controls-auto { right: 0; width: 35px; }
/* IMAGE CAPTIONS */

.bx-wrapper .bx-caption { position: absolute; bottom: 0; left: 0; background: #666\9; background: rgba(80, 80, 80, 0.75); width: 100%; }
.bx-wrapper .bx-caption span { color: #fff; font-family: Arial; display: block; font-size: .85em; padding: 10px; }
/* Start Sale Bar Css */
.s-product { }
.s-product-det { float:left; width:63%; margin-left:10px; }
.s-product-det h3 { color:#809f14; font-size:17px; margin:0 0 8px; line-height:16px; min-height: 48px; }
.s-product-det p { color:#3d3d3d; line-height:16px; margin-bottom:8px; min-height: 10px; }
.s-product-img { float:left; width:34%; }
.rating-bar { display:block; margin:0 0 10px; }
.rating-bar img { width:auto !important; }
.cart-btn2 { background:url(../images/my/cart-icon.png) no-repeat; text-indent:-999px; width:31px; height:26px; overflow:hidden; float:left; margin-right:10px; }
.cart-price { overflow:hidden; margin-top: 4%; }
#featured_home .price { float: left; margin-top: 4px; padding-left: 10px; border-left:1px solid #ababab; font-size:20px; }
.sale-icon { background-color:#ff4911; width:75px; height:30px; position:absolute; left:0; top:0; overflow:hidden; margin-top:10px; z-index: 100; }
.sale-icon span { position:absolute; color: #FFFFFF; left: 0; font-size: 18px; margin-left: 5px; margin-top: 2px }
.new_product_home ul li {  position:relative; background-color: #fff; }
.new_product_home ul li h3,
.new_product_home ul li .h3 { display:none;}
.new_product_home ul li h3 a,
.new_product_home ul li .h3 a{ color:#FFF;}
.new_product_home ul li:hover h3,
.new_product_home ul li:hover .h3 { display: block;
position: absolute;
z-index: 10;
top: 0;
opacity: 0.85;
background-color: #345;
color: #FFF;
font-size: 14px !important;
width: 100%;
padding: 5px 10px;
min-height: 50px;}
.new_product_home ul li .actions-add { margin-left:10px;}
#checkout-review-table .ajaxcart-qty input {  height: 27px;
  text-align: center;}
  .onestepcheckout-comments { margin-top:25px;  border-top: 3px solid #ededed;}
.onepage-page-title>h1 { margin-bottom:5px !important;}
#co-form h1 {  font-size: 20px; font-weight:normal; border-bottom: 3px solid #ededed}  
  .select2-container-disabled { }
.col-1 .form-list .control label {   padding: 6px 10px 6px 10px !important;}
#checkout-review-table .delete { text-align:center;}
#checkout-review-table a.btn-remove { background-image: url(../images/icon_sprite.png);
  background-repeat: no-repeat;
  text-indent: -9999px;
  background-position: 4px -648px;
  border: none;
  vertical-align: top;
  display: inline-block;
  width: 20px;
  height: 20px;
  }
#cart-sidebar a.remove {  background-image: url(../images/icon_sprite.png);
  background-repeat: no-repeat;
  text-indent: -9999px;
  background-position: 4px -648px;
  border: none;
  vertical-align: top;
  display: inline-block;
  width: 20px;
  height: 20px;
  position: absolute;
  top: 78px;
  right: 24px;}
.checkout-cart-index .mini-products-list table.info-wrapper input{ }
.checkout-cart-index .cart-table .product-cart-actions .button {margin-left: 40px; display:none !important;}
#featured_home ul li {  position:relative; background-color: #fff; }
#featured_home ul li h3, #featured_home ul li .h3 { display:none;}
#featured_home ul li h3 a, #featured_home ul li .h3 a { color:#FFF;}
#featured_home ul li:hover h3, #featured_home ul li:hover .h3 { display: block;
position: absolute;
z-index: 10;
top: 0;
opacity: 0.85;
background-color: #345;
color: #FFF;
font-size: 14px !important;
width: 100%;
padding: 5px 10px;
min-height: 50px;}
#featured_home ul li .actions-add { margin-left:10px;}
.s-product-det .actions-add { display:block !important; margin-left: 75px; }
.s-product-det button { margin-top: 5px; }
#featured_home .products-grid > li { }
.featured-author .cart-price .price-box { margin: 0px !important }
/* End Sale Bar Css */
.new_product_home .actions-add { margin-left: 20px;}
/* Content Flip Style */
.bb-bookblock { width: 400px; height: 300px; position: relative; z-index: 100; }
.bb-page { width: 50%; height: 100%; left: 50%; position: absolute; -webkit-transform-style: preserve-3d; -moz-transform-style: preserve-3d; -o-transform-style: preserve-3d; -ms-transform-style: preserve-3d; transform-style: preserve-3d; -webkit-transform-origin: left center; -moz-transform-origin: left center; -o-transform-origin: left center; -ms-transform-origin: left center; transform-origin: left center; }
.bb-page > div, .bb-outer, .bb-content { position: absolute; height: 100%; top: 0; left: 0; }
.bb-content { background: #fff; }
.bb-inner { position: relative; width: 100%; height: 100%; }
.bb-overlay, .bb-outer { -webkit-backface-visibility: hidden; -moz-backface-visibility: hidden; -o-backface-visibility: hidden; -ms-backface-visibility: hidden; backface-visibility: hidden; }
.bb-page > div { width: 100%; -webkit-transform-style: preserve-3d; -moz-transform-style: preserve-3d; -o-transform-style: preserve-3d; -ms-transform-style: preserve-3d; transform-style: preserve-3d; -webkit-backface-visibility: hidden; -moz-backface-visibility: hidden; -o-backface-visibility: hidden; -ms-backface-visibility: hidden; backface-visibility: hidden; }
.bb-back { -webkit-transform: rotateY(-180deg); -moz-transform: rotateY(-180deg); -o-transform: rotateY(-180deg); -ms-transform: rotateY(-180deg); transform: rotateY(-180deg); }
.bb-outer { width: 100%; overflow: hidden; z-index: 999; }
.bb-overlay, .bb-flipoverlay { background-color: rgba(0, 0, 0, 0.7); position: absolute; top: 0px; left: 0px; width: 100%; height: 100%; opacity: 0; }
.bb-flipoverlay { background-color: rgba(0, 0, 0, 0.2); }
.bb-bookblock > div.bb-page:first-child, .bb-bookblock > div.bb-page:first-child .bb-back { -webkit-transform: rotateY(180deg); -moz-transform: rotateY(180deg); -o-transform: rotateY(180deg); -ms-transform: rotateY(180deg); transform: rotateY(180deg); }
.bb-item { width: 100%; height: 100%; position: absolute; top: 0; left: 0; display: none; }
/* Header Style */
.codrops-top { line-height: 24px; font-size: 11px; background: #fff; background: rgba(255, 255, 255, 0.5); text-transform: uppercase; z-index: 9999; position: relative; font-family: Cambria, Georgia, serif; box-shadow: 1px 0px 2px rgba(0,0,0,0.2); }
.codrops-top a { padding: 0px 10px; letter-spacing: 1px; color: #333; display: inline-block; }
.codrops-top a:hover { background: rgba(255,255,255,0.6); }
.codrops-top span.right { float: right; }
.codrops-top span.right a { float: left; display: block; }
/* Demo Buttons Style */
.codrops-demos { text-align:center; display: block; line-height: 30px; padding: 5px 0px; }
.codrops-demos a { display: inline-block; margin: 0px 4px; padding: 0px 6px; color: #aaa; line-height: 20px; font-size: 13px; text-shadow: 1px 1px 1px #fff; border: 1px solid #fff; background: #ffffff; /* Old browsers */ background: -moz-linear-gradient(top, #ffffff 0%, #f6f6f6 47%, #ededed 100%); /* FF3.6+ */ background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #ffffff), color-stop(47%, #f6f6f6), color-stop(100%, #ededed)); /* Chrome,Safari4+ */ background: -webkit-linear-gradient(top, #ffffff 0%, #f6f6f6 47%, #ededed 100%); /* Chrome10+,Safari5.1+ */ background: -o-linear-gradient(top, #ffffff 0%, #f6f6f6 47%, #ededed 100%); /* Opera 11.10+ */ background: -ms-linear-gradient(top, #ffffff 0%, #f6f6f6 47%, #ededed 100%); /* IE10+ */ background: linear-gradient(top, #ffffff 0%, #f6f6f6 47%, #ededed 100%); /* W3C */ filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ededed', GradientType=0 ); /* IE6-9 */
box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1); }
.codrops-demos a:hover { color: #333; background: #fff; }
.codrops-demos a:active { background: #fff; }
.codrops-demos a.current-demo, .codrops-demos a.current-demo:hover { background: #f0f0f0; border-color: #d9d9d9; color: #aaa; box-shadow: 0 1px 1px rgba(255,255,255,0.7); filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f6f6f6', endColorstr='#f6f6f6', GradientType=0 ); /* IE6-9 */
}
.support-note span { color: #ac375d; font-size: 16px; display: none; font-weight: bold; text-align: center; padding: 5px 0; }
.no-cssanimations .support-note span.no-cssanimations, .no-csstransforms .support-note span.no-csstransforms, .no-csstransforms3d .support-note span.no-csstransforms3d, .no-csstransitions .support-note span.no-csstransitions { display: block; }
/**************************************************************************************/
.bb-custom-wrapper { background:#98b827; width: 938px; height: 300px; position: relative; -webkit-box-sizing: content-box; -moz-box-sizing: content-box; box-sizing: content-box; margin: 0 auto; border:1px solid #f0f0f0; overflow:hidden; }
.bb-bookblock { width: 938px; height: 300px; }
.bb-custom-content { text-align: center; width: 100%; height: 100%; background:#98b827 url(../images/my/flower-bg.jpg) no-repeat top; position: relative;}
.bb-custom-bg { }
.bb-custom-content h3 { text-indent: 30px; letter-spacing: 30px; line-height: 96px; padding: 20px; color: #AED1D8; font-size: 30px; display: block; text-transform: uppercase; position: relative; background: rgba(84, 201, 234, 0.3); margin: 0; text-shadow: 1px 1px 1px rgba(255, 255, 255, 0.2); }
.bb-custom-content h3:before, .bb-custom-content h3:after { content: ''; position: absolute; height: 10px; border-top: 2px dotted rgba(0, 0, 0, 0.05); box-shadow: inset 0 1px 1px rgba(255, 255, 255, 0.2); bottom: 0px; left: 10px; right: 10px; }
.bb-custom-content h3:before { bottom: auto; top: 10px; }
.bb-custom-content p { color:#fff; line-height: 1.15; margin-bottom: 10px;}
.bb-custom-content h4 { font-size: 28px; line-height: 36px; letter-spacing: 2px; text-transform: uppercase; margin: 0; }
.bb-custom-content h4 span { font-size: 50px; color: #bdbaa7; font-weight: 400; line-height: 60px; }
nav.bb-custom-nav { width:100%; }
nav.bb-custom-nav a { z-index:100; outline:none; left:0; position:absolute; top:43%; width: 65px; height: 65px; background: url(../images/my/nav.png) center right; text-indent: -90000px; }
nav.bb-custom-nav a.right-arrow { right:0; left:auto; }
nav.bb-custom-nav a:first-child { background-position: center left; margin-right: 5px; float: left; }
.bb-bookblock .folder { width : 50%; height: 100%; position: relative; -webkit-perspective: 800px; -moz-perspective: 800px; -o-perspective: 800px; -ms-perspective: 800px; perspective: 800px; }
.bb-bookblock .folder-cover, .bb-bookblock .folder-inner { position: absolute; width: 330px; top: 10px; left: 10px; bottom: 10px; z-index: 3; }
.bb-bookblock .folder-cover { background: #f7f7f7; background: -moz-linear-gradient(left, #f7f7f7 0%, #ffffff 12%, #ededed 100%); background: -webkit-linear-gradient(left, #f7f7f7 0%, #ffffff 12%, #ededed 100%); background: -o-linear-gradient(left, #f7f7f7 0%, #ffffff 12%, #ededed 100%); background: -ms-linear-gradient(left, #f7f7f7 0%, #ffffff 12%, #ededed 100%); background: linear-gradient(to right, #f7f7f7 0%, #ffffff 12%, #ededed 100%); box-shadow: 
 inset -2px 0 5px rgba(255, 255, 255, 0.4), 1px 1px 3px rgba(0, 0, 0, 0.2), 2px 0 3px rgba(0, 0, 0, 0.2); }
.bb-bookblock .folder-inner { top: 20px; padding-top: 130px; background: url(../../images/my/demo3/paper_blue.jpg) center center; box-shadow:  
 inset 0 -2px 2px rgba(255, 255, 255, 0.4), inset 0 2px 2px rgba(255, 255, 255, 0.2), 1px 0 2px rgba(0, 0, 0, 0.1); z-index: 2; -webkit-transition: -webkit-transform 300ms ease-in-out; -moz-transition: -moz-transform 300ms ease-in-out; -o-transition: -o-transform 300ms ease-in-out; -ms-transition: -ms-transform 300ms ease-in-out; transition: transform 300ms ease-in-out; }
.bb-bookblock .folder-fold { background: #ffffff; background: -moz-linear-gradient(left, #ffffff 0%, #f2f2f2 4%, #ffffff 88%, #f7f7f7 100%); background: -webkit-linear-gradient(left, #ffffff 0%, #f2f2f2 4%, #ffffff 88%, #f7f7f7 100%); background: -o-linear-gradient(left, #ffffff 0%, #f2f2f2 4%, #ffffff 88%, #f7f7f7 100%); background: -ms-linear-gradient(left, #ffffff 0%, #f2f2f2 4%, #ffffff 88%, #f7f7f7 100%); background: linear-gradient(to right, #ffffff 0%, #f2f2f2 4%, #ffffff 88%, #f7f7f7 100%); position: absolute; right: 10px; width: 60px; top: 10px; bottom: 10px; z-index: 4; -webkit-transform-origin: 100% 50%; -moz-transform-origin: 100% 50%; -o-transform-origin: 100% 50%; -ms-transform-origin: 100% 50%; transform-origin: 100% 50%; }
.bb-bookblock .folder-cover span { cursor: pointer; margin: 220px 0 0 50px; display: block; background: rgba(255, 255, 255, 0.4); text-align: left; font-size: 16px; padding: 10px 0 10px 30px; border-radius: 10px 0 0 10px; box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.05); border: 1px solid rgba(255, 255, 255, 0.2); border-right: none; }
#folder-close { color: #333; font-size: 12px; text-transform: uppercase; position: absolute; right: 10px; top: 10px; text-shadow: 0 1px 1px rgba(255, 255, 255, 0.5); }
.bb-custom-last { height: 100%; box-shadow: 
 inset 0 100px 0 rgba(231, 152, 213, 0.1), inset 0 -100px 0 rgba(231, 152, 213, 0.1); }
.bb-custom-circle { width: 200px; height: 200px; position: absolute; top: 50%; right: 80px; margin-top: -100px; border-radius: 50%; box-shadow: 0 0 0 15px rgba(84, 201, 234, 0.3); background: url(../../images/my/demo3/faces.jpg) -288px -210px; z-index: 0; }
/* Start Main Slider Style */
.main-slider { position:relative; }
.slider-bottom { max-width:938px; margin:0 auto; display:block; }
.slider-bottom img { width:100%; }
.slide-inner { padding:35px; }
a.link-learn { display:block; width:100%; text-align:right;}
.book-holder img { margin-bottom:10px; -moz-box-shadow:2px 2px 2px #414141; -webkit-box-shadow:2px 2px 2px #414141; box-shadow:2px 2px 2px #414141; height: 276px; display:block; margin-top:-25px; }
.slide-inner .cart-btn2 {  background:url(../images/my/cart-icon2.png) no-repeat; display: none; float:none; margin-right:0 !important; margin-left:70px; margin-top: 5px; }
.slide-inner .price { float:none; display:inline-block; font-size:24px !important; color:#FFFFFF !important }
.book-detail { text-align:left; }
.book-detail h2 { font-size:30px; color:#232323; margin:0 0 10px; }
.book-detail .title { color:#98b827; font-size:20px; display: block; margin:0 0 10px; }
.shop-btn { background:url(../images/my/shop-btn.png) no-repeat; width:130px; height:42px; text-align:center; display:inline-block; line-height:40px; color:#fff; margin:25px 0 43px; }
.cap-holder { position: absolute; color:#FFF;
width: 57%;
bottom: 50px;
height: 30%; }
.cap-holder a { color:#fff;  border-top:1px solid #fff; display:inline-block; float:left; width:100%; text-align:right; }
.cap-holder a:hover { text-decoration:none; }
/* End Main Slider Style */
 .row-fluid { width: 100%; *zoom: 1;
max-width: 1260px; margin: 0 auto; padding-top: 15px; padding-bottom:8px; }
.social_pr .fb_soc { display:inline-block; float:left; padding-right:10px;}
.social_pr .google_soc { display:inline-block; float:left; padding-right:10px;}
.social_pr .twitter_soc { display:block; float: left; padding-right:10px;}
.socialSharing.googlePlusOneButton>div { width:60px !important;}
.row-fluid:before, .row-fluid:after { display: table; content: ""; line-height: 0; }
.row-fluid:after { clear: both; }
.row-fluid [class*="span"] { display: block; width: 100%; min-height: 30px; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; float: left; margin-left: 2.564102564102564%; *margin-left: 2.5109110747408616%;
}
.row-fluid [class*="span"]:first-child { margin-left: 0; }
 .row-fluid .controls-row [class*="span"] + [class*="span"] {
 margin-left: 2.564102564102564%;
}
.row-fluid .span12 { width: 100%; *width: 99.94680851063829%;
}
.row-fluid .span11 { width: 91.45299145299145%; *width: 91.39979996362975%;
}
.row-fluid .span10 { width: 82.90598290598291%; *width: 82.8527914166212%;
}
.row-fluid .span9 { width: 74.35897435897436%; *width: 74.30578286961266%;
}
.row-fluid .span8 { width: 65.81196581196582%; *width: 65.75877432260411%;
}
.row-fluid .span7 { width: 57.26495726495726%; *width: 57.21176577559556%;
}
.row-fluid .span6 { width: 48.717948717948715%; *width: 48.664757228587014%;
}
.row-fluid .span5 { width: 40.17094017094017%; *width: 40.11774868157847%;
}
.row-fluid .span4 { width: 31.623931623931625%; *width: 31.570740134569924%;
}
.row-fluid .span3 { width: 23.076923076923077%; *width: 23.023731587561375%;
}
.row-fluid .span2 { width: 14.52991452991453%; *width: 14.476723040552828%;
}
.row-fluid .span1 { width: 5.982905982905983%; *width: 5.929714493544281%;
}
.slide-inner .cart-price .price-box { width: 20px; float: right; margin:0 !important; padding-right:140px; }

.products-grid--max-3-col li #infos { display:none;}
.products-grid--max-3-col li #infos a{ color:#FFF;font-size: 14px !important;}
.products-grid--max-3-col li:hover #infos { display: block;
position: absolute;
z-index: 10;
top: 0;
opacity: 0.85;
background-color: #345;
color: #FFF;

width: 100%;
padding: 5px 10px;
min-height: 50px;}
#infos li { background:none !important; border:none !important; font-size:12px;}
.products-grid .availability.out-of-stock {float: left;
width: 64px;
line-height: 1.2;}
.catalog-category-view .products-grid .button { margin-top:0 !important;}
.catalog-category-view .availability.out-of-stock span { color:#F00;}
.products-grid .product-info { min-height:40px !important; padding-bottom: 15px !important; }
.products-grid .actions { min-height: 0 !important;  padding-top: 0 !important; padding-left: 30px; }
.products-grid .product-image { border:none !important; margin-top: 5px; }
.products-grid li { border: 1px solid #ededed; background:#FFF; }
.products-grid .product-name { font-size:13px !important; }
.block-layered-nav .block-content > dl > dd { background:#FFF; }
.products-grid .price { float: left; margin-top: 4px; padding-left: 10px; border-left:1px solid #ababab; font-size:20px; }
.featured-author .cart-price { margin-top: 48%; display:none; }
.featured-author .price { float: left; margin-top: 4px; padding-left: 10px; border-left:1px solid #ababab; font-size:20px; font-size:18px !important; }
.product-view .product-img-box { width: 33% !important; }
.product-view .product-shop { width: 67% !important; }
.product-view .add-to-cart-wrapper, .product-view .block-related { width: 67% !important; }
.product-collateral .toggle-tabs li > span { font-size:16px !important; }
.product-view .price { font-size:32px !important; border: none !important; margin-right: 40px; margin-top: -5px; }
.product-view .availability.in-stock { margin-left:20px; font-size:16px !important; width: 150px; float: right; margin-top: 8px; }
.product-view .short-description .std {text-align: justify;
font-style: italic;
line-height: 17px;
font-size: 13px;}
.product-view .availability.out-of-stock {padding-bottom: 3px;
margin-bottom: 10px;
border-bottom: 1px solid #cccccc; margin-left: -15px;}
.product-view .availability.out-of-stock  span{ color:#FF0000; font-size:16px; padding-left:15px;}
.product-view .add-to-cart-buttons .button { font-size:18px !important; }
.products-grid p.old-price { display:none;}
.catalog-category-view  #block-related p.old-price{ display:none;}
.catalog-category-view  #block-related p.special-price { padding:0 !important}
.footer-container { padding: 0px !important; }
.footer address { padding-top: 5px; }
#conutries { background: white; }
#countries-table { border-spacing: 2px; }
#countries-table tr { height:100px; }
#countries-table tr td { width:2%; text-align:center; }
#countries-table tr td a>img { margin-left: 53px; }
#countries-table tr.actv td { border-bottom: 7px solid #ff8f71; font-size: 24px; padding-left: 30px; color:#000000; text-align:left !important; }
.alphabet { margin: 30px -2px; overflow: hidden; }
.block-avtor-top { margin-bottom:20px; }
.block-avtor-top h3 { color:#ff8f71; border-bottom: 1px solid #cccccc; font-size:21px; height: 28px; }
.block-avtor-top h3 span { border-bottom: 3px solid #ff8f71; }
.block-avtor-top .block-content { background-color:#FFFFFF; padding:10px; }
#countries-table tr.actv { height: 50px; }
.alphabet a, #countries-table tr { transition: background-color 0.3s ease-in-out; -moz-transition: background-color 0.3s ease-in-out; -webkit-transition: background-color 0.3s ease-in-out; }
#manufacturer-description .right>a>img { float:left; margin:15px; }
.alphabet a { width: 29px; float: left; color: #333; cursor: pointer; height: 25px; display: block; padding: 2px 2px; font-size: 22px; text-align: center; line-height: 20px; text-shadow: 0 1px 0 rgba(255, 255, 255, .5); border-right: none; text-decoration: none; }
.alphabet a.first { }
.alphabet a.last { }
.alphabet a:hover, .alphabet a.active { font-weight: bold; }
.customer-testimonials .submit-testimonial { width:100%; text-align:right; }
.customer-testimonials-content { border-bottom: 2px solid #cccccc; margin-bottom: 20px; }
.customer-testimonials-content.last { border:none; }
.testimonial-content-avatar { background: url(../images/my/qouts-icon.png) no-repeat top left; height:100px; width:75px; float:left }
.testimonial-content { display: inline-table; }
.testimonial-content .vopros { font-size: 16px; font-style: italic; border-bottom:2px dotted #C4C4C4; float: right; width: 90%; }
.testimonial-content .otvet { float:right; width: 90%; margin-top:10px; }
.testimonial-source { display: inline-table; width:100%; text-align:right; }
.testimonial-source span.testimonial-author { color: #2e8ab8; font-size:14px }
.super { font-family: Georgia, Times, "Times New Roman", serif; font-style: italic; }
#customer_links li { display: inline-block; list-style:none; padding-right:5px; }
.sorter label { display:none; }
.catalog-category-view .products-grid li:hover { border: 1px solid #2e8ab8; }
#cart-sidebar a.btn-edit { display:none; }
/*****************************************************************/
#checkout-block .required, #checkout-block .note { font-size: 11px !important; text-align: center !important; margin: 0px; display: block; line-height: 1em !important; font-style: italic !important; }
.col-1.user-general>label { margin-bottom:25px !important; }
#new-user-form>.col2-set, #registered-user-form>.col2-set { float:left; width: 60%; }
#shipping-method-load .sp-methods label { color:#636363 !important; font-size: 15px; padding-left:3px; }
#shipping-method-load .sp-methods input { margin-top:1px; }
#new-user-form>.col2-set .user-general, #registered-user-form>.col2-set .user-general { }
#new-user-form>.col2-set .col-2, #registered-user-form>.col2-set .col-2 { float:left !important; width: 40%; }
#new-user-form>.col2-set.row-bottom, #registered-user-form>.col2-set.row-bottom { float:right; width: 40%; padding-top:0 !important }
#new-user-form .no-mr input, #registered-user-form  .no-mr input{ width:400px !important }
#checkout-block .tab-cont {  }
#checkout-block .input-street.input-text.required-entry.w-229 { width:309px !important; }
#checkout-block .small .input-text.w-30 { width:80px !important; }
#checkout-block .small.zipcodes {margin-left: 5px; }
#checkout-block .small.zipcodes input {height: 30px; width: 114px }
#checkout-block .addresses { width:60%; }
#checkout-block .f-left.small.no-mr { float: left;
    margin-left: 5px;
    width: 27%; }
.product_shhiping .popup6 { margin-left:0 !important; max-height:350px; max-width: 570px;}
.product_shhiping .popup6 .flovv {max-height:300px; overflow-y: scroll;}
#checkout-block .f-left.small { float: left; }
#checkout-block .field .f-left { padding-right:0 !important }
#checkout-block .col2-set .col-1, #checkout-block .col2-set .col-2 { padding:0 !important; }
#checkout-block .addresses { width: 100%; }
.cart-totals-wrapper .cart-totals ul.checkout-types .method-checkout-cart-methods-onepage-bottom { display:none }
#checkout-block .col2-set.row-bottom>.col-2 { width: 70% }
.discount-form .input-box { float:left; }
.discount-form .buttons-set {  float:left ;clear:none !important; margin:0 !important; padding:4px 0 0 0;display: inline-block; }
.tab-cont.new-user { min-height: 220px !important; }
#discount-coupon-form label { width:100%;}
#payment-methods { float:left; }
.discount .discount-form { width:100%; }
div.split-address .tab-cont { min-height: 220px !important; }
#checkout-block .input-text { margin-bottom:10px; }
.help { color: #636363 !important; font-size: 13px !important; }
.infos-menus { border-bottom: 5px solid #2980b9 !important }
p.help { margin-bottom:2px; }
p.help em, .field em { color:#F00; padding-left:2px; }
span.note { color:#FF0000 !important; font-size:12px !important; }
.cart.display-single-price .page-title { margin-top:15px; }
#p_method_privat24_redirect + label { padding: 12px !important; left: 40px !important; }
#payment-form dt { float:left; width: 33%; margin:0 !important; }
#payment-methods { width:60%; }
#payment_form_privat24_redirect { display:none; }
#payment_form_liqpay { display:none; }
#shopping-cart-table button.button2.btn-update { display:none; }
#shopping-cart-table .or { display:none }
table#shopping-cart-table { background-color:#FFF; }
#shopping-cart-table ul.cart-links { display:none }
ul.infos-menus a { color:#636363 !important; }
ul.infos-menus li.current a { color:#2980b9 !important; }
li.method-fi_checkout-place_order button { background-color:#98B827 !important; font-size:18px; }
.cart-totals { background-color:#FFFFFF !important; }
.mini-products-list .product-details a.remove { font-size:12px; color:#ff4911; }
.mini-products-list .product-details span.price { padding-right: 10px; font-size: 20px; padding-left: 5px; }
.skip-cart { padding-top:7px !important; }
#header-cart p.subtotal span.label { color:#636363 }
#header-cart p.subtotal span.price { padding-left:10px; font-size:18px; }
/***********************************************************************************/
/* # Social Icons # */
#socialicons { position:relative; text-align:left; }
#socialicons > a:first-child { margin-left:0; }
#socialicons>a { margin-left:5px; margin-right:0; display:inline-block; width:36px; height:36px; float:left; overflow:hidden; position:relative; }
#socialicons>a span { width:36px; height:36px; overflow:hidden; position:absolute; display:none; }
#socialicons>a span.da-animate { -webkit-transition: all 0.3s ease; -moz-transition: all 0.3s ease-in-out; -o-transition: all 0.3s ease-in-out; -ms-transition: all 0.3s ease-in-out; transition: all 0.3s ease-in-out; }
/* # Social icons List # */
#social_facebook { background:url(../images/my/facebook.png) no-repeat }
#social_facebook span { background:url(../images/my/facebook.png) no-repeat 0 -36px; }
#social_twitter { background:url(../images/my/twitter0.png) no-repeat }
#social_twitter span { background:url(../images/my/twitter0.png) no-repeat 0 -36px; }
#social_dribbble { background:url(../images/my/dribbble.png) no-repeat }
#social_dribbble span { background:url(../images/my/dribbble.png) no-repeat 0 -36px; }
#social_flickr { background:url(../images/my/flickr.png) no-repeat }
#social_flickr span { background:url(../images/my/sociallickr.png) no-repeat 0 -36px; }
#social_forst { background:url(../images/my/socialorst.png) no-repeat }
#social_forst span { background:url(../images/my/socialforst.png) no-repeat 0 -36px; }
#social_github { background:url(../images/my/socialgithub.png) no-repeat }
#social_github span { background:url(../images/my/socialgithub.png) no-repeat 0 -36px; }
#social_linkedin { background:url(../images/my/linkedin.png) no-repeat }
#social_linkedin span { background:url(../images/my/linkedin.png) no-repeat 0 -36px; }
#social_pinterest { background:url(../images/my/pinterest.png) no-repeat }
#social_pinterest span { background:url(../images/my/pinterest.png) no-repeat 0 -36px; }
#social_instagram { background:url(../images/my/instagram.png) no-repeat }
#social_instagram span { background:url(../images/my/instagram.png) no-repeat 0 -36px; }
#social_rss { background:url(../images/my/rss.png) no-repeat }
#social_rss span { background:url(../images/my/rss.png) no-repeat 0 -36px; }
#social_vimeo { background:url(../images/my/vimeo.png) no-repeat }
#social_vimeo span { background:url(../images/my/vimeo.png) no-repeat 0 -36px; }
#social_youtube { background:url(../images/my/youtube.png) no-repeat }
#social_youtube span { background:url(../images/my/youtube.png) no-repeat 0 -36px; }
#social_trumblr { background:url(../images/my/trumblr.png) no-repeat }
#social_trumblr span { background:url(../images/my/trumblr.png) no-repeat 0 -36px; }
#social_google_plus { background:url(../images/my/google_p.png) no-repeat }
#social_google_plus span { background:url(../images/my/google_p.png) no-repeat 0 -36px; }
/* # Animation on Social Icons **/
.da-slideFromTop { left: 0px; top: -100%; }
.da-slideFromBottom { left: 0px; top: 100%; }
.da-slideFromLeft { top: 0px; left: -100%; }
.da-slideFromRight { top: 0px; left: 100%; }
/* Final state classes: */
.da-slideTop { top: 0px; }
.da-slideLeft { left: 0px; }
/*******************************************************************************************/
.footer .contact_foter { float: left; font-size: 12px; width: 35%; }
.price-box .old-price .price { font-size:16px !important; }
.footer { padding-top:15 !important; }
.footer .links { margin-bottom: 10px; }
#footer { margin-top:0 !important }
.footer_block img { width:100px; float:left; margin-right:20px; }
.footer_block img.privat { width:130px; }
.footer_block img.loqpay { padding-top:5px; }
.footer .block-subscribe { width:390px !important; }
.footer address { color:#FFF !important; }
.special-price span.price { color:#FF0000 !important; }
.products-list > li .product-image img { }
.products-list > li .product-image { width:20% !important; }
.products-list .product-shop { width:78% !important; }
.products-list > li { border: 1px solid #ededed !important; background-color:#FFFFFF; padding: 10px !important; margin-bottom: 10px !important; }
.products-list > li:hover { border: 1px solid #2980b9 !important; }
.block-layered-nav .block-title strong, .block-viewed .block-title strong { font-size:16px !important; padding-left: 2px; }
.products-list button span { font-size:16px; }
.products-list button:hover { background:#cccccc }
.code_tovar li { font-size: 13px; }
.code_tovar li span { color:#ff8f71; font-size:14px; }
.code_tovar li a span {color: #2980b9;}
.products-list .product-shop .price-box .price { color:#ff4911; }
.products-grid .price-box .regular-price .price { color:#ff4911 !important; }
.block.block-list.block-viewed .block-content{ padding-top:10px; padding-bottom:10px; }
ol#block-related .price-box .price {color: #ff4911 !important; font-size:16px;}
ol#recently-viewed-items .price-box .price {color: #ff4911 !important; font-size:16px;}
.more-views h2 { font-size:16px; padding-bottom: 3px; margin-bottom: 10px; border-bottom: 1px solid #cccccc; }
.products-list .product-shop .price-box .price { font-size: 20px !important; }
.products-list .desc.std a { font-size:12px; text-align:right; display:block; width:100%; }
.block.block-related {  }
.block.block-related .block-title strong { color:#98B827; font-size:16px; display: block; text-align: center; position: relative; padding: 10px 0 0; margin-bottom: 5px; }
.block.block-related .block-title { border-top: 1px solid #cccccc !important; }
.block-related .product { margin-left:0 !important }
.block-related #block-related a.product-image, .block-viewed span.product-image { border:none !important; }
.catalog-product-view .block-viewed .block-title { text-align:center; }
.product-view .product-shop { margin-bottom:0 !important; }
.product-view .add-to-cart { border-top:1px solid #cccccc; }
.product-view .add-to-cart .price-box { margin-top:0 !important; }
.product_avtor_ { width: 67% !important; float: right; clear: right; }
#upsell-product-table { }
.box-avtor .products-grid > li:nth-child(3n+1) { clear:none !important; }
.box-avtor .products-grid > li { width:24%; margin-right:1% !important; margin-bottom:0 !important; }
.box-avtor .products-grid .price-box .regular-price .price { font-size:20px !important; }
.box-avtor h2 { font-size:20px; color:#636363; padding-bottom: 3px; margin-bottom: 10px; border-bottom: 1px solid #cccccc; text-align: right; }
.box-avtor .products-grid .price-box { margin-left: 35px; }
.box-avtor .products-grid .product-name { min-height: 54px; }
.product-view a.link-wishlist img ,
a.button-orange img { display:inline-block; width:31px; float:left; margin:3px;}
.buy_1_clic, .addwishlist { float:left; margin-right:10px; }
.product-view a.link-wishlist span,
a.button-orange span { display:none;
	 padding-left: 7px;
float: right;
padding-top: 7px;
font-size:16px;
}
.box-avtor .products-grid .product-image img { width: 100% !important;}
.product-view a.link-wishlist:hover, a.button-orange:hover {-webkit-box-shadow: none; box-shadow: none;}
.product-view a.link-wishlist,
a.button-orange {
text-shadow: 0 1px 0 rgba(255, 255, 255, 0.44);
border: 0;
-webkit-border-radius: 3px;
border-radius: 3px;
color: #9d9d9d;
-webkit-box-shadow: 0 1px 1px rgba(0,0,0,0.3), inset 0 -1px 0 rgba(0,0,0,0.15);
box-shadow: 0 1px 1px rgba(0,0,0,0.3), inset 0 -1px 0 rgba(0,0,0,0.15);
background: #f0f0f0;
background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJod…EiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
background: -moz-linear-gradient(top, #f0f0f0 0%, #dddddd 100%);
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f0f0f0), color-stop(100%,#dddddd));
background: -webkit-linear-gradient(top, #f0f0f0 0%,#dddddd 100%);
background: -o-linear-gradient(top, #f0f0f0 0%,#dddddd 100%);
background: -ms-linear-gradient(top, #f0f0f0 0%,#dddddd 100%);
background: linear-gradient(to bottom, #f0f0f0 0%,#dddddd 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f0f0f0', endColorstr='#dddddd',GradientType=0 );
padding:2px 5px 2px 5px;
display:inline-block;
}
.header-minicart .minicart-actions .checkout-button { font-size:16px !important;}
.block .actions .button { padding:6px 14px 6px 14px !important; font-size:14px !important;}
 .buttons-set .button { font-size:16px !important;min-width:0 !important; }
.products-list button {padding: 5px 20px 7px 20px !important;}
.product-view .button {min-width: 120px;}
.product-view .button, .products-list button,
.header-minicart .minicart-actions .checkout-button,
.block .actions .button,
.buttons-set .button{
  background: #3498db;
  border-radius: 3px;
  background-image: -webkit-linear-gradient(top, #3498db, #2980b9);
  background-image: -moz-linear-gradient(top, #3498db, #2980b9);
  background-image: -ms-linear-gradient(top, #3498db, #2980b9);
  background-image: -o-linear-gradient(top, #3498db, #2980b9);
  background-image: linear-gradient(to bottom, #3498db, #2980b9);
  text-shadow: 0px 1px 3px #666666;
  font-family: Arial;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
  -webkit-box-shadow: 0 1px 1px rgba(0,0,0,0.3), inset 0 -1px 0 rgba(0,0,0,0.15);
box-shadow: 0 1px 1px rgba(0,0,0,0.3), inset 0 -1px 0 rgba(0,0,0,0.15);

}
.product-view .product-name { margin-bottom:10px;}
.product-view .button:hover, .products-list button:hover, .header-minicart .minicart-actions .checkout-button:hover,
.block .actions .button:hover,
.buttons-set .button:hover {
  background: #3cb0fd;
  border-radius: 3px;
  background-image: -webkit-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -moz-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -ms-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -o-linear-gradient(top, #3cb0fd, #3498db);
  background-image: linear-gradient(to bottom, #3cb0fd, #3498db);
  text-decoration: none;
  -webkit-box-shadow: none;
box-shadow:  none;
}
.product-view .new-icon, .new_product_home .new-icon {background-color: #3399cc;
width: 100px;
height: 30px;
position: absolute;
left: 30px;
top: 60px;
overflow: hidden;
margin-top: 10px; z-index:1}
.products-list .new-icon {background-color: #3399cc;
width: 100px;
height: 30px;
position: absolute;
left: 0;
top: 0;
overflow: hidden;
margin-top: 10px; z-index:1}
.products-list .new-icon span { 
position: absolute;
color: #FFFFFF;
left: 0;
font-size: 18px;
margin-left: 10px;
margin-top: 0px;
}

.products-grid .new-icon {background-color: #3399cc;
width: 100px;
height: 30px;
position: absolute;
left: 0;
top: 0;
overflow: hidden;
margin-top: 10px; z-index:1}
.products-grid .new-icon span { 
position: absolute;
color: #FFFFFF;
left: 0;
font-size: 18px;
margin-left: 10px;
margin-top: 0px;
}

.block-layered-nav .block-content.toggle-content { padding:5px;}
.product-view .new-icon span, .new_product_home .new-icon span {position: absolute;
color: #FFFFFF;
left: 0;
font-size: 18px;
margin-left: 15px;
margin-top: 2px;}
.product-view .code_tovar { width:100%; background-color:#FFFFFF; padding: 5px 10px;-webkit-box-shadow: 0 1px 1px rgba(0,0,0,0.3), inset 0 -1px 0 rgba(0,0,0,0.15);
box-shadow: 0 1px 1px rgba(0,0,0,0.3), inset 0 -1px 0 rgba(0,0,0,0.15); }
.s-product-det  p.old-price { display: inline-block;}

.product_shhiping { float:left; margin-left:10px; margin-right:70px; padding-bottom:10px;padding-top: 10px; }
.customer-testimonials .pager-no-toolbar { margin-bottom:0 !important;}
.product_shhiping a { font-size:16px; }
/* Форимируем слой затемнения фона */
.overlay5 { background-color: rgba(0, 0, 0, 0.7); bottom: 0; cursor: default; left: 0; opacity: 0; position: fixed; right: 0; top: 0; visibility: hidden; z-index: 1; -webkit-transition: opacity .5s; -moz-transition: opacity .5s; -ms-transition: opacity .5s; -o-transition: opacity .5s; transition: opacity .5s; }
.overlay5:target { visibility: visible; opacity: 1; }
/* Позиционирум медиа-элементы внутри окна */
.is-image5 { width: 100%; display: inline-block; height: auto; margin: auto; top: 0; left: 0; bottom: 0; right: 0; }
.popup5 #oneclickorder-form-wrapper { width:inherit !important; }
/* Формируем и позиционируем всплывающее окно */
.popup5 { min-width: 320px; max-width: 300px; margin: auto; background-color: #fff; display: block; left: 0; right: 0; opacity: 0; padding: 15px; position: fixed; font-size: 14px; top: 0; visibility: hidden; z-index: 10010; border: 2px solid #2980b9; /* Скругление углов окна  */ /* Устанавливаем эффект перехода появления окна */ 
    -webkit-transition: opacity .5s, top .5s; -moz-transition: opacity .5s, top .5s; -ms-transition: opacity .5s, top .5s; -o-transition: opacity .5s, top .5s; transition: opacity .5s, top .5s; }
/* Устанавливаем позицию появления окна */ 
.overlay5:target+.popup5 { top: 20%; opacity: 1; visibility: visible; }
/* Оформляем и позицонируем кнопку закрытия */
.close5 { background-color: rgba(0, 0, 0, 0.8); border: 2px solid #ccc; height: 24px; line-height: 24px; position: absolute; right: -13px; font-weight: bold; text-align: center; text-decoration: none; padding: 0; top: -15px; width: 24px; border-radius: 50px; box-shadow: 1px 1px 3px #000; }
.close5:before { color: rgba(255, 255, 255, 0.9); content: "X"; font-size: 14px; text-shadow: 0 -1px rgba(0, 0, 0, 0.9); }
.close5:hover { background-color: rgba(64, 128, 128, 0.8); }
.popup5 p, .popup5 div { margin-bottom: 10px; }
a.overlay5 { z-index:9999 }
/********************************************************************************/
/* Форимируем слой затемнения фона */
.overlay6 { background-color: rgba(0, 0, 0, 0.7); bottom: 0; cursor: default; left: 0; opacity: 0; position: fixed; right: 0; top: 0; visibility: hidden; z-index: 1; -webkit-transition: opacity .5s; -moz-transition: opacity .5s; -ms-transition: opacity .5s; -o-transition: opacity .5s; transition: opacity .5s; }
.overlay6:target { visibility: visible; opacity: 1; }
/* Позиционирум медиа-элементы внутри окна */
.is-image6 { width: 100%; display: inline-block; height: auto; margin: auto; top: 0; left: 0; bottom: 0; right: 0; }
/* Формируем и позиционируем всплывающее окно */
.popup6 { min-width: 320px; max-width: 564px; margin-left:300px; background-color: #fff; display: block;   opacity: 0; padding: 15px; position: fixed; font-size: 14px; top: 0; visibility: hidden; z-index: 10010; border: 2px solid #2980b9; /* Скругление углов окна  */ /* Устанавливаем эффект перехода появления окна */
    -webkit-transition: opacity .5s, top .5s; -moz-transition: opacity .5s, top .5s; -ms-transition: opacity .5s, top .5s; -o-transition: opacity .5s, top .5s; transition: opacity .5s, top .5s; }
	.popup6 .input-box input {width: 400px;}
	.popup6 .input-box-captcha input {width: 250px;
float: left; margin-right: 25px;}
	.popup6 .input-box-captcha img {float: left;}
	.popup6 .refresh-captcha img {margin: 7px;}
/* Устанавливаем позицию появления окна */ 
.overlay6:target+.popup6 { top: 20%; opacity: 1; visibility: visible; }
/* Оформляем и позицонируем кнопку закрытия */
.close6 { background-color: rgba(0, 0, 0, 0.8); border: 2px solid #ccc; height: 24px; line-height: 24px; position: absolute; right: -13px; font-weight: bold; text-align: center; text-decoration: none; padding: 0; top: -15px; width: 24px; border-radius: 50px; box-shadow: 1px 1px 3px #000; }
.close6:before { color: rgba(255, 255, 255, 0.9); content: "X"; font-size: 14px; text-shadow: 0 -1px rgba(0, 0, 0, 0.9); position: relative;
right: 0px;
bottom: 3px;}
.close6:hover { background-color: rgba(64, 128, 128, 0.8); }
.popup6 p, .popup6 div { margin-bottom: 10px; }
a.overlay6 { z-index:9999 }
/******************************************/
.customer-account-login form .form-instructions { font-size:15px !important }
.customer-account-login label { width:220px !important; }
.customer-account-login p.required { position: absolute;  margin-left: 248px !important; }
.detailed-attrs { display: none; position: absolute; z-index: 2; background-color: #FFF; -webkit-box-shadow: 0 1px 2px rgba(0,0,0,0.4); box-shadow: 0 1px 2px rgba(0,0,0,0.4); margin-left: 240px; margin-top: 22px; width:28% }
.btn-detailed { float:right; right: 10px; padding: 0 24px; border: 0; cursor: pointer; color: #2980b9; background:  url(../images/32195.png) 100% 55% no-repeat; }
.code_tovar { width:100%; background-color:#FFFFFF; padding: 5px 10px; }
.catalog-product-view .product-view .product-shop .extra-info { max-width:none !important; float:none !important; padding-right:0 !important }
.detailed-attrs table { padding:2px; display: inherit; }
.detailed-attrs table tr { }
.detailed-attrs table th { padding-left:5px; padding-right:5px; text-align:right; width:55%; }
.detailed-attrs table td { }
#log_loginform  #mini-login, #log_loginform  #mini-password {padding: 5px;}
.catalog-category-view .block-layered-nav dl dd ol > li > a {}
#cart-sidebar .info-wrapper tr>th { display:none;}
#cart-sidebar .info-wrapper  .qty-control-box {min-height: 25px !important;}
.header-search_comment p { color:#CCC;}
.more-views { margin-top:10px;}
.more-views h4, .more-views .h4 { font-weight:normal; border-bottom: 1px solid #cccccc;}
.more-views ul {}
.more-views ul li{ display:inline-block; float:left; margin-left:3px;}
.work-time { color:#CCC;}
.popup-container { z-index:100010 !important}
#numberDisplay { display:none !important;}
.buttons-set .button { text-shadow: none !important;}
.account-create  label:first-child { width:160px !important;}

/**********************************************/
.flexslider { position:relative;}
/* Direction Nav */
.flex-direction-nav a {width: 30px; height: 30px; margin: -15px 0 0; display: block; background: url(../images/bg_direction_nav.png) no-repeat 0 0; position: absolute; top: 50%; cursor: pointer; text-indent: -9999px; opacity: 0; -webkit-transition: all .3s ease;}
.flex-direction-nav .flex-next {background-position: 100% 0;right: 5px;opacity: 1; }
.flex-direction-nav .flex-prev { left: 5px;opacity: 1;}
.flexslider:hover .flex-next {opacity: 0.8; }
.flexslider:hover .flex-prev {opacity: 0.8;}
.flexslider:hover .flex-next:hover, .flexslider:hover .flex-prev:hover {opacity: 1;}
.flex-direction-nav .disabled {opacity: .3!important; filter:alpha(opacity=30); cursor: default;}

/* Control Nav */
.flex-control-nav { display:none !important;width: 100%; position: absolute; bottom: -40px; text-align: center;}
.flex-control-nav li {margin: 0 6px; display: inline-block; zoom: 1; *display: inline;}
.flex-control-paging li a:hover { background: #333; background: rgba(0,0,0,0.7); }
.flex-control-paging li a.flex-active { background: #000; background: rgba(0,0,0,0.9); cursor: default; }

.flex-control-thumbs {margin: 5px 0 0; position: static; overflow: hidden;}
.flex-control-thumbs li {width: 25%; float: left; margin: 0;}
.flex-control-thumbs img {width: 100%; display: block; opacity: .7; cursor: pointer;}
.flex-control-thumbs img:hover {opacity: 1;}
.flex-control-thumbs .active {opacity: 1; cursor: default;}

@media screen and (max-width: 860px) {
  .flex-direction-nav .flex-prev {opacity: 1; left: 0;}
  .flex-direction-nav .flex-next {opacity: 1; right: 0;}
}
#log_forgot .forgot_text { display:none;}
#log_forgot  .button span span { color:#FFF;}
#log_forgot .back-link a{ font-size:12px; color:#636363;}
.box-up-sell h2 span {
border-bottom: 3px solid #3399cc;
}
.box-up-sell h2 {border-bottom: 1px solid #cccccc;}
.box-up-sell

.box-up-sell ul li {  position:relative; background-color: #fff; }
.box-up-sell ul li h3,
.box-up-sell ul li .h3 { display:none;}
.box-up-sell ul li h3 a,
.box-up-sell ul li .h3 a{ color:#FFF;}
.box-up-sell ul li:hover h3, 
.box-up-sell ul li:hover .h3 { display: block;
position: absolute;
z-index: 10;
top: 0;
opacity: 0.85;
background-color: #345;
color: #FFF;
font-size: 14px !important;
width: 100%;
padding: 5px 10px;
min-height: 50px;}
.box-up-sell ul li .actions-add { display:inline-block;}
.box-up-sell ul li span.price { font-size:20px !important;}
.box-up-sell .button {   -webkit-box-shadow: none !important;
box-shadow:  none !important; padding:0 !important; float:left !important;}
.new_product_home .price-box .price { font-size:20px !important;}

.box-up-sell ul li  .price-box { float:right; }
.products-list .desc.std { font-size:13px; line-height: 1.2;}
.products-list .product-shop .product-primary { width:100% !important}
.form_class {display: inline-block;
 margin-left:60px; margin-top:-60px;}
.form_class ul.form-list { list-style:none;}
.form_class #contactForm { padding-left:0px !important}
.form_class p.required { color:#F00 !important}
.col-right.sidebar iframe{width: 234px !important;

display: block;
margin: 0 auto;}
.promo { float:left; width:25%; position: relative;
margin-top: -45px;}
.sidebar .block-account  .block-content ul { border:1px solid #cccccc; }
.sidebar .block-account  .block-content { padding:5px;}
.sidebar .block-account  .block-content ul li { margin-left:5px;}
.my-account  { background-color:#FFF; padding: 10px;} 
.manufacturer-index-view .page-head h1 {color: #ff8f71;
border-bottom: 1px solid #cccccc;}
.manufacturer-index-view .page-head h1  span{border-bottom: 3px solid #ff8f71;}
#ac-links .links li:last-child { display:none;}
#ac-links .links li:nth-child(3) { display:none;}
.search-autocomplete ul li.preview {min-height: 85px;}
.search-autocomplete {z-index: 100000 !important;}
.ajaxsearch .preview img { margin-right:10px;}
.ajaxsearch .preview span.price, .price_special_price{ color: #ff4911; font-size:14px; margin-left:10px;}
.ajaxsearch .preview span.price_old {text-decoration: line-through;}
.search-autocomplete ul li.selected {background: #f4f4f4 !important;}
.box-avtor .special-price  span.price {font-size: 18px !important; margin:0 inherit;}
.catalog-product-view .testimonial-submit .page-title { display:none;}
#block-related p.product-name a {line-height: 1.2;font-size: 12px;}
.cms-books-izdatelstvo .mb-content .std { display:none;}

#nav .nav-primary>li.level0>a{display: block;
  height: 40px;color: #fff;  font-size: 17px;
  padding-left: 11px;
  padding-right: 11px;}
    #nav .nav-primary>li.level0, #nav .nav-primary>li.level0:hover {
     border: none!important;
  }
  #nav .nav-primary>li.level0.nav-1,
  #nav .nav-primary>li.level0.nav-2,
  #nav .nav-primary>li.level0.nav-3,
  #nav .nav-primary>li.level0.nav-4,
  #nav .nav-primary>li.level0.nav-5 {
     border-top:2px solid #243339!important;
     border-left:2px solid #243339!important;
     border-right:2px solid #243339!important;
  }
  #nav .nav-primary>li.level0.nav-1:hover,
  #nav .nav-primary>li.level0.nav-2:hover,
  #nav .nav-primary>li.level0.nav-3:hover,
  #nav .nav-primary>li.level0.nav-4:hover,
  #nav .nav-primary>li.level0.nav-5:hover{
     background-color:#FFF!important; 
  border-top: 2px solid #1496cc!important;
  border-left: 2px solid #1496cc!important;
  border-right: 2px solid #1496cc!important;}
  #nav .nav-primary>li.level0:hover>a { background-color:#FBFBFB; position:relative; z-index:10000;}
  #nav .nav-primary>li.level0:hover a {color: #2980b9;}
  #nav .nav-primary>li.level0 ul.level0 li.level1 { display:inline-block; width:33%;  margin-top: 5px;
  margin-bottom: 5px;}
   #nav .nav-primary>li.level0 ul.level0 { width:950px; } 
  #nav .nav-attribute-5>ul.level0,
   #nav .nav-attribute-1>ul.level0,
   #nav .nav-attribute-13>ul.level0 { display:none !important;}
  #nav .nav-primary li.level1 ul {
  left: 220px !important;width:350px;
  top: -2px !important;
    padding-left: 15px;
  padding-right: 15px;
 
  border: 1px solid #1496cc;
}
#nav .nav-primary li.level0 li.parent > a:after { top: inherit !important;  display: inline-block !important;  margin-left: 8px; margin-top:12px; right: inherit !important }
#nav .nav-primary li.level0  ul.level0{ border: 2px solid #1496cc;left: -2px;}
#nav .nav-primary li.level1 a  { border:none !important;}
#nav .nav-primary li.level0  ul.level0 a:hover {color: #636363;}
#nav .nav-primary .level0.nav-2  ul { width:350px !important;}
#nav .nav-primary .level0.nav-2  ul li { width:100% !important;}
#nav .nav-primary .level0.nav-3  ul { width:350px !important;}
#nav .nav-primary .level0.nav-3  ul li { width:100% !important;}
#nav .nav-primary .level0.nav-4  ul { width:350px !important;}
#nav .nav-primary .level0.nav-4  ul li { width:100% !important;}
#nav .nav-primary .level0.nav-5  ul { width:350px !important;}
#nav .nav-primary .level0.nav-5  ul li { width:100% !important;}

 #nav .nav-primary li.nav-attribute-5:hover,
  #nav .nav-primary li.nav-6:hover,
  #nav .nav-primary li.nav-7:hover,
   #nav .nav-primary li.nav-attribute-1:hover,
   #nav .nav-primary li.nav-attribute-13:hover { border:none; background-color: inherit !important;}
    #nav .nav-primary li.nav-attribute-5:hover a,
	  #nav .nav-primary li.nav-6:hover a,
	  #nav .nav-primary li.nav-7:hover a,
   #nav .nav-primary li.nav-attribute-1:hover a,
   #nav .nav-primary li.nav-attribute-13:hover a  { border:none; background-color: inherit !important;}
    #nav .nav-primary li.nav-7 a {
        color: #ff4911;
    }
   
    #nav .nav-primary li.nav-attribute-14:hover,
   #nav .nav-primary li.nav-attribute-2:hover,
   #nav .nav-primary li.nav-attribute-6:hover { border:none; background-color: inherit !important;}
    #nav .nav-primary li.nav-attribute-14:hover a,
   #nav .nav-primary li.nav-attribute-2:hover a,
   #nav .nav-primary li.nav-attribute-6:hover a  { border:none; background-color: inherit !important;}
   
   #nav .nav-attribute-14>ul.level0,
   #nav .nav-attribute-2>ul.level0,
   #nav .nav-attribute-6>ul.level0 { display:none !important;}
   .m-alpha-pager a { font-size:22px;}
  .m-attribute-page-image { width:20%;  float: left;
  margin-right: 20px;}
.m-option-page-description.std p { margin:inherit !important}
.m-option-page-description .more_a{ display: inline-block; text-align:right; width: 100%;}
.catalog-product-view .product-img-box .sale-icon { top: 48px;  left: 25px;}
.hometext {
    clear: both;
    padding-top: 20px;
}
