#oneclickorder-form-wrapper {
    text-align: left;
    margin: 2px 0 10px 0;
}

#oneclickorder-form-wrapper .oneclickorder-fields{
    text-align: right;
    /*width: 196px;*/
    width: 98%;
}

#oneclickorder-form-wrapper form {
    margin-top: 6px;
    display: block;
}


#oneclickorder-form-wrapper input {
    width: 30px;
}

#oneclickorder-form-wrapper .button-wrapper {
    margin-top: 4px;
	margin-left:83px;
}

#oneclickorder-form-wrapper .oneclickorder-country {
    width: 58px;
}

#oneclickorder-form-wrapper .oneclickorder-phone,
#oneclickorder-form-wrapper .oneclickorder-email {
    /*width: 110px;*/
    width: 63%;
    height: 25px;
    margin-bottom: 2px;

}

#oneclickorder-form-wrapper .oneclickorder-email {
    /*margin: 2px 0 0 39px;*/
}

#oneclickorder-form-wrapper .phone-icon {
	padding-left:30px;
	padding-top:3px;
	float:left
}

#oneclickorder-form-wrapper .descr {
    font-size: 10px;
    line-height: 12px;
}

#oneclickorder-form-wrapper .oneclickorder-title {
    font-size: 15px;
    font-weight: bold;
}

#oneclickorder-form-wrapper .please-wait {
    display: block;
    margin-top: 5px;
    float: none;
}

#oneclickorder-form-wrapper .checkout_cart_index {

}

#oneclickorder-form-wrapper .catalog_product_view {

}

#oneclickorder-form-wrapper .comment-toggle {
    background: url('../images/oneclickorder/comment.png');
    width: 17px;
    height: 16px;
    cursor: pointer;
    float: left;
    margin-top: 2px;
    margin-right: 4px;
}

#oneclickorder-form-wrapper .comment-wrapper textarea {
    width: 90%;
    max-width: 178px;
    height: 50px;
}

#oneclickorder-form-wrapper .button {
    /*margin: 5px 0 0 24px;*/
    /*float: none;*/
}

#oneclickorder-form-wrapper.catalog_product_view {
    width: 195px;
}

