
<script type="text/javascript" src="<?php echo Mage::getBaseUrl(Mage_Core_Model_Store::URL_TYPE_JS); ?>erudyt/modernizr.js"></script><!-- Modernizr -->
<script type="text/javascript" src="<?php echo Mage::getBaseUrl(Mage_Core_Model_Store::URL_TYPE_JS); ?>erudyt/bookblock.js"></script><!-- Flip Slider -->
<script type="text/javascript" src="<?php echo Mage::getBaseUrl(Mage_Core_Model_Store::URL_TYPE_JS); ?>erudyt/bxslider.js"></script><!-- BX Slider -->

<?php $product_slider= $this->getSliderProductCollection();  $_helper = $this->helper('catalog/output');	?>
 <?php
function maxsite_str_word($text, $counttext = 35, $sep = ' ') {
    $words = split($sep, $text);
    if ( count($words) > $counttext )
        $text = join($sep, array_slice($words, 0, $counttext));
    return $text;
}
?>
<section class="row-fluid">
<!-- JS Files End -->
<section class="span12 slider">
        <section class="main-slider">
          <div class="bb-custom-wrapper">
            <div id="bb-bookblock" class="bb-bookblock">
             <?php   foreach ($product_slider as $_product) :?>
              
              <div class="bb-item">
                <div class="bb-custom-content">
                	<div class="slide-inner">
                    <div class="span8 book-detail">
                      <h2><?php echo $_product->getName() ?></h2>
                      <strong class="title"><?php echo $_product->getAttributeText('avtor');?></strong> 
                     <?php /* <span class="rating-bar"> <img src="<?php echo $this->getSkinUrl('images/my/raing-star2.png'); ?> " /> </span>*/?>
                  
           <div class="cap-holder">
           <p><?php $text=$_helper->productAttribute($_product, $_product->getDescription(), 'description');	echo maxsite_str_word($text)."...";?></p>
          <a href="<?php echo $_product->getProductUrl() ?>" title="<?php echo $_product->getName() ?>"><?php echo $this->__('Podrobnee...') ?></a> 
          </div>
                    </div>
                    <div class="span4 book-holder">
               	<a href="<?php echo $_product->getProductUrl() ?>" title="<?php echo $_product->getName() ?>"> <?php $_imgSize = 300; ?>
                <img id="product-collection-image-<?php echo $_product->getId(); ?>"
                     src="<?php echo $this->helper('catalog/image')->init($_product, 'small_image')->keepFrame(false)->resize($_imgSize); ?>"
                     alt="<?php echo $this->stripTags($this->getImageLabel($_product, 'small_image'), null, true) ?>" />
                     </a>
                    </div>
                 
                  </div>
                </div>
              </div>
              
               <?php endforeach ?>
            </div>
          </div>
          <nav class="bb-custom-nav"> <a href="#" id="bb-nav-prev" class="left-arrow">Previous</a> <a href="#" id="bb-nav-next" class="right-arrow">Next</a> </nav>
        </section>
        <span class="slider-bottom"><img src="<?php echo $this->getSkinUrl('images/my/slider-bg.png')?>"/></span> </section>
        </section>