

 <script>
$x = jQuery.noConflict();
$x(function() {
    var _alphabets = $x('.alphabet > a');
    var _contentRows = $x('#countries-table tbody tr');

    _alphabets.click(function() {
        var _letter = $x(this), _text = $x(this).text(), _count = 0;

        _alphabets.removeClass("active");
        _letter.addClass("active");

        _contentRows.hide();
        _contentRows.each(function(i) {
            var _cellText = $x(this).children('td').eq(0).text();
            if (RegExp('^' + _text).test(_cellText)) {
                _count += 1;
                $x(this).fadeIn(400);
            }
        });
    });
});</script>
 <?php $innerhtml = ""; ?>


		

 <?php $url = Mage::getBaseUrl()."catalogsearch/result/?q="; ?>
 <?php   $storeCode = Mage::app()->getStore()->getCode();?>
 <?php if ($storeCode == 'ru') :?> <?php    $alphabet= 'А,Б,В,Г,Д,Е,Ё,Ж,З,И,Й,К,Л,М,Н,О,П,Р,С,Т,У,Ф,Х,Ц,Ч,Ш,Щ,Ъ,Ы,Ь,Э,Ю,Я'; ?> <?php endif ?>
  <?php if ($storeCode == 'ua') :?> <?php    $alphabet= 'А,Б,В,Г,Д,Е,Є,Ж,З,И,І,Й,К,Л,М,Н,О,П,Р,С,Т,У,Ф,Х,Ц,Ч,Ш,Щ,Ь,Ю,Я'; ?> <?php endif ?>
 <?php $alphabet = explode(",", $alphabet);  ?>
	<?php   foreach ($alphabet as $item): ?>
	<?php $zapros=$this->getIzdatelAlpha($item) ?>
    <?php if($item !== "А"):?> <?php $style = ' style="display: none;"'; ?> <?php endif ?>
	
   	
	 <?php $innerhtml.= "<tr ". $style." class='actv'><td colspan=5>".$item."</td></tr>"?>
   <?php $n=0; ?>
	<?php   foreach ($zapros as $_manufacturer): ?>
		
			<?php if ($n > 4 or $n==0):?><?php  $innerhtml.="<tr". $style.">";	?>  <?php endif?>
                    <?php  $innerhtml.="<td>"?>
                  <?php if ($storeCode == 'ru') :?>
                 
                   <?php 
				    $t_url=mb_strtolower($_manufacturer->getValue(), 'UTF-8');
				  $x_url= str_replace(' ','-', $t_url);
				   $url = Mage::getBaseUrl()."books-izdatelstvo/издательство/".$x_url; ?>
                    
					
					<?php endif ?>
                    <?php if ($storeCode == 'ua') :
                    $t_url=mb_strtolower($_manufacturer->getValue(), 'UTF-8');
				  $x_url= str_replace(' ','-', $t_url);?>
				   <?php $url = Mage::getBaseUrl()."books-izdatelstvo/видавництво/".$x_url; ?>
                   <?php endif ?>
				        <?php $innerhtml.= '<a href="'.$url.'">'. $_manufacturer->getValue().'</a>';?>
                  <?php $innerhtml.= "</td>";$n++;?>
          <?php if ($n >4) :?>  <?php $innerhtml.= "</tr>"; $n=0;?> <?php endif;?>
    <?php endforeach; ?>
  <?php endforeach; ?>

<?php if ($storeCode == 'ru') :?>
<div class="alphabet" style="">
<a class="first" href="#">А</a>
<a href="#">Б</a>
<a href="#">В</a>
<a href="#">Г</a>
<a href="#">Д</a>
<a href="#">Е</a>
<a href="#">Ё</a>
<a href="#">Ж</a>
<a href="#">З</a>
<a href="#">И</a>
<a href="#">Й</a>
<a href="#">К</a>
<a href="#">Л</a>
<a href="#">М</a>
<a href="#">Н</a>
<a href="#">О</a>
<a href="#">П</a>
<a href="#">Р</a>
<a href="#">С</a>
<a href="#">Т</a>
<a href="#">У</a>
<a href="#">Ф</a>
<a href="#">Х</a>
<a href="#">Ц</a>
<a href="#">Ч</a>
<a href="#">Ш</a>
<a href="#">Щ</a>
<?php /*<a href="#">Ъ</a>
<a href="#">Ы</a>
<a href="#">Ь</a>*/?>
<a href="#">Э</a>
<a href="#">Ю</a>
<a class="last" href="#">Я</a>

</div>
<div id="conutries">
<table id="countries-table">

<tbody>
    <?php echo $innerhtml; ?>
    </tbody>
</table>
</div>
 <?php endif ?>
 <?php if ($storeCode == 'ua') :?>
<div class="alphabet" style="">
<a class="first" href="#">А</a>
<a href="#">Б</a>
<a href="#">В</a>
<a href="#">Г</a>
<a href="#">Д</a>
<a href="#">Е</a>
<a href="#">Є</a>
<a href="#">Ж</a>
<a href="#">З</a>
<a href="#">И</a>
<a href="#">І</a>
<a href="#">Й</a>
<a href="#">К</a>
<a href="#">Л</a>
<a href="#">М</a>
<a href="#">Н</a>
<a href="#">О</a>
<a href="#">П</a>
<a href="#">Р</a>
<a href="#">С</a>
<a href="#">Т</a>
<a href="#">У</a>
<a href="#">Ф</a>
<a href="#">Х</a>
<a href="#">Ц</a>
<a href="#">Ч</a>
<a href="#">Ш</a>
<a href="#">Щ</a>
<?php /*<a href="#">Ъ</a>
<a href="#">Ы</a>
<a href="#">Ь</a>*/?>

<a href="#">Ю</a>
<a class="last" href="#">Я</a>

</div>
<div id="conutries">
<table id="countries-table">

<tbody>
    <?php echo $innerhtml; ?>
    </tbody>
</table>
</div>
 <?php endif ?> 
 
 