<ul id="payment_form_<?php echo $this->getMethodCode() ?>" style="display:none" class="form-list">
    <li>
    <?php echo $this->__('You will be required to enter your payment details after you place an order.') ?>
    </li>
	<style type="text/css">
		#p_method_privat24_redirect + label {
			padding: 9px 5px 3px 110px;
			position: relative;
			top: 4px;
			background:url("<?php echo $this->getSkinUrl('images/privat24.png') ?>") scroll 0 center no-repeat transparent;
		}
	</style>
</ul>