<html>
    <body>
        <?php echo $this->__('You will be redirected to the Privat24 website in a few seconds.'); ?>
        <?php echo $this->getForm()->toHtml(); ?>
        <script type="text/javascript">document.getElementById("privat24_redirect").submit();</script>
    </body>
</html>