<?php if(count($this->getStores())>1): ?>
<div class="language-switcher" id="easyflags">
    <?php foreach ($this->getStores() as $_lang): ?>
   
       <?php /* <a href="<?php echo $_lang->getCurrentUrl(false) ?>"><img src="<?php echo $this->getSkinUrl('images/flags/' . $this->htmlEscape($_lang->getCode()) . '.png') ?>" alt="<?php echo $this->htmlEscape($_lang->getName()) ?>"/></a>*/?>
    
     <a 
   <?php if (Mage::app()->getLocale()->getLocaleCode()==$_lang->getlocale_code()) :?> class="active_lang" <?php endif ?>
     href="<?php echo $_lang->getCurrentUrl(false) ?>"><?php echo $this->htmlEscape($_lang->getName())?></a>
    
	<?php endforeach; ?>
</div>
<?php endif; ?> 