<?php
$results=$this->getSuggestProducts();
$suggests=Mage::helper('catalogsearch')->getSuggestCollection();
?>
<ul class="ajaxsearch" ><li style="display:none"></li>
<?php

if($results->count()&&$this->enabledPreview())
  foreach($results as $pro)
  {
    //$pro=Mage::getModel('catalog/product')->load($pro->getId());
    echo "<li class=\"preview\" ><a href=\"{$pro->getProductUrl()}\">";
    if($this->isShowImage())
    {
    echo "<img src=\"{$this->helper('catalog/image')->init($pro, 'small_image')->resize($this->getImageWidth(),$this->getImageHeight())}\"  />";
    }
    if($this->isShowName()) echo "{$pro->getName()} ";
	
 
    if($this->isShowDescription())
    {
        $description=substr($pro->getDescription(),0,$this->getNumDescriptionChar());
        $description=strip_tags(substr($description,0,strrpos($description,' ')));
        echo "<div class=\"description\">$description...</div>";
    }
	$formattedPrice = Mage::helper('core')->currency($pro->getPrice(),true,false);
	$formattedPriceSpecial = Mage::helper('core')->currency($pro->getspecialprice(),true,false);
	if ($formattedPriceSpecial>0)
	{$formattedPrice_ = '<span class="price_old">'.$formattedPrice.'</span><span class="price_special_price">'.$formattedPriceSpecial.'</span>';}
	else {$formattedPrice_ = '<span class="price">'.$formattedPrice.'</span>';}
	
	if($this->isShowProductPrice()) echo "{$formattedPrice_} ";
	
	
    echo "</a></li>";
  }
if($this->enabledSuggest())
foreach($suggests as $_suggest)
{
  echo "<li class=\"suggest\" >{$_suggest->getQueryText()} <span class=\"amount\">{$_suggest->getNumResults()}</span></li>";
}

?>
</ul>

