<?php
/*
* Copyright (c) 2013 www.magebuzz.com 
*/
?>
<div id="featured_home"><h2 ><span><?php echo $this->__('Products for action') ?></span></h2>
    <?php
        $_productCollection=$this->getLoadedProductCollection();
        $_helper = $this->helper('catalog/output');
    ?>
    <?php if($_productCollection->count()): ?>

    <div class="category-products">
        <?php // Grid Mode ?>
       

        <div class="block-content-content">
            <?php $_collectionSize = $_productCollection->count() ?>
           <?php $_columnCount = 6; ?>
            <ul class="products-grid products-grid--max-<?php echo $_columnCount; ?>-col">
            <?php $i=0; foreach ($_productCollection as $_product): ?>
               
                    <li class="item<?php if(($i-1)%$_columnCount==0): ?> first<?php elseif($i%$_columnCount==0): ?> last<?php endif; ?>">
                         <a href="<?php echo $_product->getProductUrl() ?>" title="<?php echo $this->escapeHtml($_product->getName()) ?>" class="product-image">
                   <?php /*  <span class="new-icon"><span><?php echo $this->__('News product') ?></span></span>*/?>
                    <?php $_imgSize = 260; ?>
                    <img src="<?php echo $this->helper('catalog/image')->init($_product, 'small_image')->resize($_imgSize); ?>" alt="<?php echo $this->stripTags($this->getImageLabel($_product, 'small_image'), null, true) ?>" />
                </a>
                <h3 class="product-name"><a href="<?php echo $_product->getProductUrl() ?>" title="<?php echo $this->escapeHtml($_product->getName()) ?>"><?php echo $this->escapeHtml($_product->getName()) ?></a></h3>
                <?php echo $this->getReviewsSummaryHtml($_product, 'short') ?>
                
                <div class="actions-add">
                    <?php if($_product->isSaleable()): ?>
                        <button type="button" title="<?php echo $this->__('Add to Cart') ?>" class="button btn-cart" onClick="setLocation('<?php echo $this->getAddToCartUrl($_product) ?>')"><span><span><?php echo $this->__('Add to Cart') ?></span></span></button>
                    <?php else: ?>
                        <p class="availability out-of-stock"><span><?php echo $this->__('Out of stock') ?></span></p>
                    <?php endif; ?>
                   <?php echo $this->getPriceHtml($_product, true, '-new') ?>
                </div>
                        
            <?php	 $procent= $_product->getFinalPrice()*100/$_product->getPrice()-100;  ?> 
          <?php if ($procent) :?>
          <span class="sale-icon">
          <span><?php echo round($procent) ; ?>%</span>
          </span>
          <?php endif ?>
                        
               </li>         
                        
                        
                        <?php endforeach ?>
            
                </ul>
              
          
        </div>
        <script type="text/javascript">decorateGeneric($$('ul.products-grid'), ['odd','even','first','last'])</script>
    </div>
</div>
<?php endif; ?>
