<div class="input-box-captcha">
	<small style="color: red;display: none;" class="err-code">Неверный код</small>
    <input type="text" name="captcha_code" size="10" maxlength="6" class="input-text required-entry" />
	<img id="captcha" src="<?php echo Mage::getBaseUrl()?>testimonial/form/captcha" alt="CAPTCHA Image" />
    <a  class="refresh-captcha" style="border: none;" href="" title="refresh image" onclick="refresh_image(); return false;"><img src="<?php echo $this->getSkinUrl('images/testimonial/refresh.gif')  ?>" alt="refresh image" border="0" onclick=""/></a>
    <br />

</div> 
<script type="text/javascript">
	function refresh_image() {
		$('captcha').src = '<?php echo $this->getSkinUrl('images/opc-ajax-loader.gif')?>';
		var new_image = '<?php echo Mage::getBaseUrl()?>testimonial/form/captcha/'+ Math.random();;
		$('captcha').src = new_image;
	}
</script>
