<?php $_product = $this->getData('product'); ?>
<?php if(Mage::getStoreConfig('testimonial/testimonial_options/allow_customers_write_testimonial') == 1):?>
<div class="testimonial-submit">
	<div class="page-title">

	</div>
	<div class="testimonial_thank_you" style="display: none; padding: 30px 10px 10px 130px;">
		<?php echo $this->__('Thank you for your question!');?>
	</div>
	<form action="<?php echo Mage::getBaseUrl()?>testimonial/form/post" method="post" id="testimonial-form" enctype="multipart/form-data" >
		<?php if ($_product) { ?>
		<input type="hidden" name="product_id" value="<?php echo $_product->getId(); ?>"/>
		<?php } ?>
		<ul class="form-list">
		<?php if ($this->isCustomerLoggedIn()):?>
			<li  class="name">
				<label for="name" class="required">
					<?php echo $this->__('Your Name');?>
					<em>*</em>
				</label>
				<div class="input-box">
					<input name="name" id="name" class="input-text required-entry" type="text" value="<?php echo $this->getCustomer()->getName();?>"  />
				</div>
			</li>
		<?php else: ?>
			<li  class="name">
				<label for="name" class="required">
					<?php echo $this->__('Your Name');?>
					<em>*</em>
				</label>
				<div class="input-box">
					<input name="name" id="name" class="input-text required-entry" type="text"  />
				</div>
			</li>
		<?php endif?>
		<?php if ($this->isCustomerLoggedIn()):?>
			<li class="email">
				<label for="email" class="required">
					<?php echo $this->__('Your Email'); ?>
					<em>*</em>
				</label>
				<div class="input-box">
					<input name="email" id="email" class="input-text required-entry validate-email" type="text" value="<?php echo $this->getCustomer()->getEmail(); ?>">
				</div>
			</li>
		<?php else: ?>
			<li class="email">
				<label for="email" class="required">
					<?php echo $this->__('Your Email'); ?>
					<em>*</em>
				</label>
				<div class="input-box">
					<input name="email" id="email" class="input-text required-entry validate-email" type="text">
				</div>
			</li>
		<?php endif ?>
			<?php /*<li class="website">
				<label for="website">
					<?php echo $this->__('Your Website'); ?>
				</label>
				<div class="input-box">
					<input name="website" id="website" type="text" class="input-text">
				</div>
			</li>
			<li class="company">
				<label for="company">
					<?php echo $this->__('Your Company');?>
				</label>
				<div class="input-box">
					<input name="company" id="company" type="text" class="input-text">
				</div>
			</li>
			<li class="address">
				<label for="address">
					<?php echo $this->__('Your Address'); ?>
				</label>
				<div class="input-box">
					<input name="address" id="address" type="text" class="input-text">
				</div>
			</li>
			<li class="avatar">
                <label for="avatar">
                    <?php echo $this->__('Your Avatar'); ?>
                </label>
                <div class="input-box">
                    <input name="avatar" id="avatar" type="file"/>
                </div>
            </li>*/?>
			<li class="required-std">
				<label for="testimonial" class="required">
					<?php echo $this->__('Your Testimonial'); ?>
					<em>*</em>
				</label>
				<div class="std-input-box">
					<textarea name="testimonial" id="testimonial" type="text" class="required-entry" style="width: 400px; height: 35px"></textarea>
				</div>
			</li>

		</ul>
		<?php if(Mage::getStoreConfig('testimonial/testimonial_options/testimonial_captcha_enabled', Mage::app()->getStore())==true):?>
		<?php echo $this->getChildHtml('captcha'); ?>
		<?php endif ?>
		<div class="buttons-set">
			<p class="required"><?php echo $this->__('* Required Fields'); ?></p>
			<button type="submit" title="<?php echo $this->__('Submit'); ?>" class="button"><span><span><?php echo $this->__('Submit Testimonial'); ?></span></span></button>
			
		</div>
	</form>
	<script type="text/javascript">
	//<![CDATA[
		var dataForm = new VarienForm('testimonial-form', true);

		(function($){
			$('.close6').on('click', function(){
				$('#testimonial-form').show();
				$('.testimonial_thank_you').hide();
				location.hash = '';
			});
			$('#testimonial-form').on('submit', function(e){
				e.preventDefault();
				var url = '<?php echo Mage::getBaseUrl()?>testimonial/form/post2';

				if ($(this).find('.validation-failed').length == 0) {
					$.ajax({
						url: url,
						method: "POST",
						data: $( this ).serialize()
					}).done(function(response) {
						if (typeof response.success != 'undefined' && response.success) {
							$('#testimonial-form').hide();
							$('.testimonial_thank_you').show();
							$('.err-code').hide();
						} else {
							$('.err-code').show();
						}
					});
				}
			});
		})(jQuery);
	//]]>
	</script>
</div>
<?php endif ?>
