<?php  $testimonial=$this->getTestimonial(); ?>
<div class="customer-testimonials">
	<div class="page-title">
		<h1><?php echo $this->__('Customer Testimonials');?></h1>
        <?php if(Mage::getStoreConfig('testimonial/testimonial_options/allow_customers_write_testimonial') == 1):?>

				<div class="product_shhiping"> <a href="#win_forms"><?php echo $this->__('Submit Your Testimonial');?></a>
 <a href="#x" class="overlay6" id="win_forms"></a>
       				 <div class="popup6">
                     <a class="close6" title="Закрыть" href="#close"></a>
                      <?php echo $this->getChildHtml('testimonialform2') ?>

</div>
</div>

        <?php endif ?>
    </div>

<div class="toolbar">	<?php echo $this->getPagerHtml();?></div>
	<?php if ($testimonial->getSize()): ?>
		<?php $i==0; foreach ($testimonial as $obj):?>
			<?php if($obj->getStatus()==1): ?>
			<div class="customer-testimonials-content<?php if($i==0):?> first<?php endif;?><?php if($i==(count($testimonial)-1)):?> last<?php endif;?>" name="<?php echo $obj->getName(); ?>" id="<?php echo $obj->getName(); ?>">
				<div class="testimonial-source">
					<span class="testimonial-author"><?php echo $obj->getName(); ?></span>
					<span class="testimonial-date"> /
						<?php echo date('Y-m-d', Mage::getModel('core/date')->gmtTimestamp($obj->getCreatedTime()));
						 ?>
					</span>
				</div>
               <div class="testimonial-source"></div>
                <div class="testimonial-content">
                    <div class="testimonial-content-avatar">

                    </div>
					<div class="vopros">	<?php echo $obj->getTestimonial();?> </div>
                    <div class="otvet">	<?php echo $obj->getOtvet();?> </div>
				</div>

			</div>
			<?php endif ?>
			<?php $i++; ?>
		<?php endforeach;?>
	<div class="toolbar">	<?php echo $this->getPagerHtml();?></div>

	<?php else: ?>
		<p class="note-msg"><?php echo $this->__('There is no testimonial submitted.'); ?></p>
	<?php endif ?>
</div>

