<?php /**
 * zeonsolutions inc.
 *
 * NOTICE OF LICENSE
 *
 * This source file is subject to the EULA
 * that is bundled with this package in the file LICENSE.txt.
 * It is also available through the world-wide-web at this URL:
 * http://www.zeonsolutions.com/shop/license-enterprise.txt
 *
 * =================================================================
 *                 MAGENTO EDITION USAGE NOTICE
 * This package designed for Magento ENTERPRISE edition
 * =================================================================
 * zeonsolutions does not guarantee correct work of this extension
 * on any other Magento edition except Magento ENTERPRISE edition.
 * zeonsolutions does not provide extension support in case of
 * incorrect edition usage.
 * =================================================================
 *
 * @category   design
 * @package    base_default
 * @version    0.0.1
 * @copyright  @copyright Copyright (c) 2013 zeonsolutions.Inc. (http://www.zeonsolutions.com)
 * @license    http://www.zeonsolutions.com/shop/license-enterprise.txt
 */ ?>
<?php $_manufacturersCollection = $this->getManufacturersCollection(); 
 $_helper = $this->helper('catalog/output');


?>

 
 <?php foreach ($_manufacturersCollection as $_manufacturer): ?>
  <?php  
$id_manuf= $_manufacturer->_origData['manufacturer'];
 $id_product= $_manufacturer->getentity_link();
 $_code=explode ("/", $id_product);
  $id= $_code[1];
  $_product = Mage::getModel('catalog/product')->load($id); 
 
 ?>
 <?php endforeach; ?>


<div class="avtor_top_blok">
<h3><?php echo $this->__('Avtor top mounthly')?></h3>
<a href="<?php echo Mage::getBaseUrl()?>knigi-po-avtoram.html" > <?php echo $this->__('Avtor top all')?> </a>
</div>
<div class="featured-author">
          <div class="left"> <span class="author-img-holder"> <a class="product-images" href="<?php echo $this->getUrl('manufacturers' . '/' . $_manufacturer->getIdentifier()) ?>" title="<?php echo $_manufacturer->getManufacturer() ?>"><img alt="<?php echo $_manufacturer->getManufacturerLogo() ?>" src="<?php echo Mage::getBaseUrl(Mage_Core_Model_Store::URL_TYPE_MEDIA) . 'manufacturer' . '/' . $_manufacturer->getManufacturerLogo() ?>" width="140" height="140"></a></span>
            <div class="author-det-box">
             
              <div class="avtor_h1"> <span class="title2">
			  <?php if (Mage::app()->getStore()->getStoreId()=='1'): ?> 
			 <a href="<?php echo $this->getUrl('manufacturers' . '/' . $_manufacturer->getIdentifier()) ?>"><?php echo $_manufacturer->getName() ?> </a>
			  <?php endif ?>
			 <?php if (Mage::app()->getStore()->getStoreId()=='2'): ?>
             <a href="<?php echo $this->getUrl('manufacturers' . '/' . $_manufacturer->getIdentifier()) ?>"> <?php echo $_manufacturer->getName_ukr() ?></a>	<?php endif ?>
			 </span></div>
              <!-- <div class="ico-holder">
                <div id="socialicons" class="hidden-phone"> <a id="social_linkedin" class="social_active" href="#" title="Visit Google Plus page"><span></span></a> <a id="social_facebook" class="social_active" href="#" title="Visit Facebook page"><span></span></a> <a id="social_twitter" class="social_active" href="#" title="Visit Twitter page"><span></span></a> </div>
              </div>-->
              <div class="author-det"> 
               
               
<?php				
 if (count($this->getBestsellingProduct($id_manuf)) >0) :?>
 <ul class="books-list">
<?php  $coll= $this->getBestsellingProduct($id_manuf); ?>
<?php  foreach ($coll as $it) :?>
 
  <li><a href="<?php echo $it->getProductUrl(); ?>"><img src="<?php echo $this->helper('catalog/image')->init($it, 'small_image')->resize(125); ?>" alt="" /></a></li>
 
<?php endforeach ; ?>
</ul>
<?php endif ?>
               
               
               
                
                
              </div>
              
            </div>
          </div>
          <div class="right">
            <div class="current-book"> <strong class="title">
            
            <a href="<?php echo $_product->getProductUrl() ?>" title="<?php echo  $_product->getName(); ?>"><?php echo  $_product->getName(); ?></a></strong>
              <?php
function maxsite_str_word2($text, $counttext = 30, $sep = ' ') {
    $words = split($sep, $text);
    if ( count($words) > $counttext )
        $text = join($sep, array_slice($words, 0, $counttext));
    return $text;
}
?>
              <p> <div class="desc std">
                       <?php
$text=$_product->getShortDescription();

echo maxsite_str_word2($text)."...";
?>
                        
                        <a href="<?php echo $_product->getProductUrl() ?>" title="<?php echo $_product->getName()?>" class="link-learn"><?php echo $this->__('Learn More') ?></a>
                    </div></p>
           
            
       
                   
            </div>
            <div class="c-b-img"> <a href="<?php echo $_product->getProductUrl() ?>" title="<?php echo $this->stripTags($this->getImageLabel($_product, 'small_image'), null, true) ?>" class="product-image"><img src="<?php echo $this->helper('catalog/image')->init($_product, 'small_image')->resize(135); ?>" width="135" height="135" alt="<?php echo $this->stripTags($this->getImageLabel($_product, 'small_image'), null, true) ?>" /></a>
</div>
        
               <div class="cart-price"> 
                    <?php if($_product->isSaleable()): ?>
                       <button type="button" title="<?php echo $this->__('Add to Cart') ?>" class="button btn-cart" onClick="setLocation('<?php echo $this->getAddToCartUrl($_product) ?>')"><span><span><?php echo $this->__('Add to Cart') ?></span></span></button>
                    <?php else: ?>
                        <p class="availability out-of-stock"><span><?php echo $this->__('Out of stock') ?></span></p>
                    <?php endif; ?>
                    
                     <div class="price-box">
                                                                <span class="regular-price" id="product-price-476-new">
                                            <span class="price"><?php echo Mage::helper('core')->currency($_product->getFinalPrice(),true,false); ?></span>                                    </span>
                        
        </div></div>
        
          </div>
        
        </div>
        


<?php /*
<div class="block">
    <div class="block-title">
        <strong><span><?php echo $this->__('Shop By Manufacturer') ?></span></strong>
    </div>
    <div class="block-content">
        <form id="pollForm" action="<?php echo $this->getUrl('manufacturers') ?>" method="post" >
            <?php $_iterator = 0; ?>
            <ul class="products-grid first">
                <?php foreach ($_manufacturersCollection as $_manufacturer): ?>
                    <li class="item<?php if (++$_iterator == sizeof($_manufacturersCollection)): ?> last<?php endif; ?>">
                        <a class="product-images" href="<?php echo $this->getUrl('manufacturers' . '/' . $_manufacturer->getIdentifier()) ?>" title="<?php echo $_manufacturer->getManufacturer() ?>"><img alt="<?php echo $_manufacturer->getManufacturerLogo() ?>" src="<?php echo Mage::getBaseUrl(Mage_Core_Model_Store::URL_TYPE_MEDIA) . 'manufacturer' . '/' . $_manufacturer->getManufacturerLogo() ?>" width="40" height="40"></a>
                        <!-- To display name 
                        <h2><?php //echo Mage::getModel('zeon_manufacturer/manufacturer')->getManufacturerName($_manufacturer->getManufacturer(), Mage::app()->getStore()->getId())  ?></h2> -->
                    </li>
                <?php endforeach; ?>
            </ul>
            <div class="actions" style="clear:left;">
                <button type="submit" title="<?php echo $this->__('View All123') ?>" class="button"><span><span><?php echo $this->__('View All') ?></span></span></button>
            </div> 
        </form>
    </div>
</div>
*/?>