<?php /**
 * zeonsolutions inc.
 *
 * NOTICE OF LICENSE
 *
 * This source file is subject to the EULA
 * that is bundled with this package in the file LICENSE.txt.
 * It is also available through the world-wide-web at this URL:
 * http://www.zeonsolutions.com/shop/license-enterprise.txt
 *
 * =================================================================
 *                 MAGENTO EDITION USAGE NOTICE
 * This package designed for Magento ENTERPRISE edition
 * =================================================================
 * zeonsolutions does not guarantee correct work of this extension
 * on any other Magento edition except Magento ENTERPRISE edition.
 * zeonsolutions does not provide extension support in case of
 * incorrect edition usage.
 * =================================================================
 *
 * @category   design
 * @package    base_default
 * @version    0.0.1
 * @copyright  @copyright Copyright (c) 2013 zeonsolutions.Inc. (http://www.zeonsolutions.com)
 * @license    http://www.zeonsolutions.com/shop/license-enterprise.txt
 */ ?>
<?php $_manufacturersCollection = $this->getManufacturersCollection(); 

?>
<div class="block-avtor-top">
   <h3> <span><?php echo $this->__('Avtor top')?></span></h3>
    <div class="block-content">
        <dl id="narrow-by-list">
            <dd class="odd">
                <ol>
                    <?php foreach ($_manufacturersCollection as $_manufacturer): ?>
					<?php //print_r ($_manufacturer)?>
                        <li>
                            <a href="<?php echo $this->getUrl('manufacturers' . '/' . $_manufacturer->getIdentifier()) ?>"><?php echo $this->__($_manufacturer->getmanufacturer_name()) ?></a>
                            <!-- To display name -->
                            <h2><?php //echo Mage::getModel('zeon_manufacturer/manufacturer')->getManufacturerName($_manufacturer->getManufacturer(), Mage::app()->getStore()->getId())  ?></h2>
                        </li>
                    <?php endforeach; ?>
                </ol>    
            </dd>
        </dl>
    </div>
</div>

