<?php /**
 * zeonsolutions inc.
 *
 * NOTICE OF LICENSE
 *
 * This source file is subject to the EULA
 * that is bundled with this package in the file LICENSE.txt.
 * It is also available through the world-wide-web at this URL:
 * http://www.zeonsolutions.com/shop/license-enterprise.txt
 *
 * =================================================================
 *                 MAGENTO EDITION USAGE NOTICE
 * This package designed for Magento ENTERPRISE edition
 * =================================================================
 * zeonsolutions does not guarantee correct work of this extension
 * on any other Magento edition except Magento ENTERPRISE edition.
 * zeonsolutions does not provide extension support in case of
 * incorrect edition usage.
 * =================================================================
 *
 * @category   design
 * @package    base_default
 * @version    0.0.1
 * @copyright  @copyright Copyright (c) 2013 zeonsolutions.Inc. (http://www.zeonsolutions.com)
 * @license    http://www.zeonsolutions.com/shop/license-enterprise.txt
 */ ?>


 <script>
$x = jQuery.noConflict();
$x(function() {
    var _alphabets = $x('.alphabet > a');
    var _contentRows = $x('#countries-table tbody tr');

    _alphabets.click(function() {
        var _letter = $x(this), _text = $x(this).text(), _count = 0;

        _alphabets.removeClass("active");
        _letter.addClass("active");

        _contentRows.hide();
        _contentRows.each(function(i) {
            var _cellText = $x(this).children('td').eq(0).text();
            if (RegExp('^' + _text).test(_cellText)) {
                _count += 1;
                $x(this).fadeIn(400);
            }
        });
    });
});</script>
 <?php $innerhtml = ""; ?>
<?php /*$_helper = Mage::helper('catalog/category') ?>
<?php $_categories = $_helper->getStoreCategories() ?>
<?php $currentCategory = Mage::registry('current_category') ?>
<?php if (count($_categories) > 0): ?>
<?php foreach ($_categories as $_category): 
$innerhtml.="<tr><td><a href=".$_helper->getCategoryUrl($_category).">".$_category->getName()."</a></td></tr>"; ?>
    <?php $_category = Mage::getModel('catalog/category')->load($_category->getId()) ?>
    <?php $_subcategories = $_category->getChildrenCategories() ?>
    <?php if (count($_subcategories) > 0): ?>
        <?php foreach ($_subcategories as $_subcategory): 
            $innerhtml.="<tr><td><a href=".$_helper->getCategoryUrl($_subcategory).">".$_subcategory->getName()."</a></td></tr>"; ?>
        <?php endforeach; ?>
    <?php endif; ?>
<?php endforeach; ?>   
<?php endif; */?> 


		

 
 <?php   $storeCode = Mage::app()->getStore()->getCode();?>
 <?php if ($storeCode == 'ru') :?> <?php    $alphabet= 'А,Б,В,Г,Д,Е,Ж,З,И,Й,К,Л,М,Н,О,П,Р,С,Т,У,Ф,Х,Ц,Ч,Ш,Щ,Ъ,Ы,Ь,Э,Ю,Я'; ?> <?php endif ?>
  <?php if ($storeCode == 'ua') :?> <?php    $alphabet= 'А,Б,В,Г,Д,Е,Є,Ж,З,И,І,Й,К,Л,М,Н,О,П,Р,С,Т,У,Ф,Х,Ц,Ч,Ш,Щ,Ь,Ю,Я'; ?> <?php endif ?>
 <?php $alphabet = explode(",", $alphabet);  ?>
	<?php   foreach ($alphabet as $item): ?>

 
 
	<?php $zapros=$this->getManufacturersAlpha($item) ?>
     <?php if (count($zapros)!==0) :?>
     <?php if($item !== "А"):?> <?php $style = ' style="display: none;"'; ?> <?php endif ?>
	 <?php $innerhtml.= "<tr ". $style." class='actv'><td colspan=5>".$item."</td></tr>"?>
   	<?php endif ?>
   <?php $n=0; ?>
	<?php   foreach ($zapros as $_manufacturer): ?>
  <?php //echo $_manufacturer->getName()?>
   
	
	
        
		<?php if ($n > 4 or $n==0):?>     <?php  $innerhtml.="<tr". $style.">"; 	?>  <?php endif?>
  <?php  $innerhtml.="<td>"?>
   <?php if ($storeCode == 'ru') :?>	    
  <?php $innerhtml.= "<a href=". $this->getUrl('manufacturers' . '/' . $_manufacturer->getIdentifier()) .">". $_manufacturer->getName() ."</a>";

  ?>
   <?php endif ?>  
     <?php if ($storeCode == 'ua') :?>	    
  <?php $innerhtml.= "<a href=". $this->getUrl('manufacturers' . '/' . $_manufacturer->getIdentifier()) .">". $_manufacturer->getName_ukr() ."</a>";?>
   <?php endif ?>          
  
    <?php /*$innerhtml.= " <a href=". $this->getUrl('manufacturers' . '/' . $_manufacturer->getIdentifier())." >
		 <img alt=".  $_manufacturer->getManufacturerLogo(). " 
		 src=". Mage::getBaseUrl(Mage_Core_Model_Store::URL_TYPE_MEDIA) . 'manufacturer' . '/' . $_manufacturer->getManufacturerLogo() ." width=75 height=75></a>";*/?>
                 <?php // $innerhtml.= "<div  class='qty_books'> ". $this->__('Qty books:') ." (". $this->getManufacturersCountProduct($id).")" ?>
             
                 <?php /* if ($_manufacturer->getTop() == 1) :?><div class="top_avtor"> TOP</div> <?php endif */ ?>
                 
          <?php $innerhtml.= "</td>";$n++;?>
		
      <?php if ($n >4) :?>  <?php $innerhtml.= "</tr>"; $n=0;?> <?php endif;?>
     
    <?php endforeach; ?>

  <?php endforeach; ?>
<?php if ($storeCode == 'ru') :?>
<div class="alphabet" style="">
<a class="first" href="#">А</a>
<a href="#">Б</a>
<a href="#">В</a>
<a href="#">Г</a>
<a href="#">Д</a>
<a href="#">Е</a>

<a href="#">Ж</a>
<a href="#">З</a>
<a href="#">И</a>
<a href="#">Й</a>
<a href="#">К</a>
<a href="#">Л</a>
<a href="#">М</a>
<a href="#">Н</a>
<a href="#">О</a>
<a href="#">П</a>
<a href="#">Р</a>
<a href="#">С</a>
<a href="#">Т</a>
<a href="#">У</a>
<a href="#">Ф</a>
<a href="#">Х</a>
<a href="#">Ц</a>
<a href="#">Ч</a>
<a href="#">Ш</a>
<a href="#">Щ</a>
<?php /*<a href="#">Ъ</a>
<a href="#">Ы</a>
<a href="#">Ь</a>*/?>
<a href="#">Э</a>
<a href="#">Ю</a>
<a class="last" href="#">Я</a>

</div>
<div id="conutries">
<table id="countries-table">

<tbody>
    <?php echo $innerhtml; ?>
    </tbody>
</table>
</div>
 <?php endif ?>
 <?php if ($storeCode == 'ua') :?>
<div class="alphabet" style="">
<a class="first" href="#">А</a>
<a href="#">Б</a>
<a href="#">В</a>
<a href="#">Г</a>
<a href="#">Д</a>
<a href="#">Е</a>
<a href="#">Є</a>
<a href="#">Ж</a>
<a href="#">З</a>
<a href="#">И</a>
<a href="#">І</a>
<a href="#">Й</a>
<a href="#">К</a>
<a href="#">Л</a>
<a href="#">М</a>
<a href="#">Н</a>
<a href="#">О</a>
<a href="#">П</a>
<a href="#">Р</a>
<a href="#">С</a>
<a href="#">Т</a>
<a href="#">У</a>
<a href="#">Ф</a>
<a href="#">Х</a>
<a href="#">Ц</a>
<a href="#">Ч</a>
<a href="#">Ш</a>
<a href="#">Щ</a>
<?php /*<a href="#">Ъ</a>
<a href="#">Ы</a>
<a href="#">Ь</a>*/?>

<a href="#">Ю</a>
<a class="last" href="#">Я</a>

</div>
<div id="conutries">
<table id="countries-table">

<tbody>
    <?php echo $innerhtml; ?>
    </tbody>
</table>
</div>
 <?php endif ?>
 
