<?php
/**
 * @name         :  Apptha One Step Checkout
 * @version      :  1.1
 * @since        :  Magento 1.4
 * @author       :  Apptha - http://www.apptha.com
 * @copyright    :  Copyright (C) 2011 Powered by Apptha
 * @license      :  http://opensource.org/licenses/osl-3.0.php  Open Software License (OSL 3.0)
 * @Creation Date:  June 20 2011
 * 
 * */
?>
<!-- start of Billing Title -->
<div class="page-title">
   <span class="billing-bg"></span> <h1><?php echo $this->__('Billing Information') ?></h1>
</div>
<!-- End of Billing Title -->
    <!---getting Guest Checkout values from the admin settings-->
<?php $allow_guest = Mage::getStoreConfig('onestepcheckout/general/Allow_guest_checkout');?>
<!---End of  Guest Checkout values from the admin settings-->

<!---Title of the page -->

<!---End of Title  -->
<div class="col-1">
<!---if guest checkout is activated in admin-->
<?php if (($allow_guest)&&(!$this->isCustomerLoggedIn())): ?>

<ul class="form-list" style="padding-left: 2px;">
<li class="control">
<input type="radio" class="validate-one-required-by-name" name="checkout_method" onClick="switchMethod2()" id="login:guest" value="guest"<?php if ($this->getQuote()->getCheckoutMethod() == Mage_Checkout_Model_Type_Onepage::METHOD_GUEST): ?> <?php endif; ?> checked="checked" class="radio" />
<label for="login:guest" style="margin-top:5px;"><?php echo $this->__('Guest customer') ?></label>
</li>
<li class="control">
<input type="radio" class="validate-one-required-by-name" name="checkout_method" id="login:register"  onClick="switchMethod2()" value="register"<?php if ($this->getQuote()->getCheckoutMethod() == Mage_Checkout_Model_Type_Onepage::METHOD_REGISTER || !$this->getQuote()->isAllowedGuestCheckout()): ?> checked="checked"<?php endif ?> class="radio" />
<label for="login:register"><?php echo $this->__('Register') ?></label>
</li>
</ul>
<?php else: ?>
<input type="hidden" name="checkout_method" id="login:register" value="register<?php $this->getQuote()->getCheckoutMethod() == Mage_Checkout_Model_Type_Onepage::METHOD_REGISTER;?>" checked="checked" />
<?php endif; ?>
</div>

<div class="clear"></div>
    <ul class="form-list">
    <!-- start of Default Billing Address -->
    <?php if ($this->customerHasAddresses()): ?>
        <li class="wide">
            <label  for="billing-address-select"><?php echo $this->__('Select a billing address from your address book or enter a new address.') ?></label>
            <div class="input-box">
                <?php echo $this->getAddressesHtmlSelect('billing') ?>
            </div>
        </li>
    <?php endif; ?>
        <!-- End of Default Billing Address -->
        <!-- start of Billing fields -->
    <li id="billing-new-address-form"<?php if ($this->customerHasAddresses()): ?> style="display:none;"<?php endif; ?>>
            <input type="hidden" name="billing[address_id]" value="<?php echo $this->getAddress()->getId() ?>" id="billing:address_id" />
            <input type="hidden" name="qqq" value="" id="register_customer" />
            <ul>
                <li class="fields"><?php echo $this->getLayout()->createBlock('customer/widget_name')->setObject($this->getAddress()->getFirstname() ? $this->getAddress() : $this->getQuote()->getCustomer())->setFieldIdFormat('billing:%s')->setFieldNameFormat('billing[%s]')->toHtml() ?></li>
                 <?php if(!$this->settings['display_company']):?>
                <li class="fields">
                    <div class="field">
                        <label for="billing:company"><?php echo $this->__('Company') ?></label>
                        <div class="input-box">
                            <input type="text" id="billing:company" name="billing[company]" value="<?php echo $this->htmlEscape($this->getAddress()->getCompany()) ?>" title="<?php echo $this->__('Company') ?>" class="input-text" />
                        </div>
                    </div>
                     </li>
                    <?php endif; ?>
    
               
                 <?php /* if(!$this->settings['display_address']):?>

                    <label for="billing:street1" class="required"><em>*</em><?php echo $this->__('Address') ?></label>
                    <li class="input-box">
                        <input type="text" title="<?php echo $this->__('Street Address') ?>" name="billing[street][]" id="billing:street1" value="<?php echo $this->htmlEscape($this->getAddress()->getStreet(1)) ?>" class="input-text required-entry" />
                    </li>

       <?php endif;*/ ?>
                <?php /*<li class="fields">
                     <?php if(!$this->settings['display_city']):?>
                    <div class="field">
                        <label for="billing:city" class="required"><em>*</em><?php echo $this->__('City') ?></label>
                        <div class="input-box">
                            <input type="text" title="<?php echo $this->__('City') ?>" name="billing[city]" value="<?php echo $this->htmlEscape($this->getAddress()->getCity()) ?>" class="input-text *required-entry" id="billing:city" />
                        </div>
                    </div>
                      <?php endif; ?>
                   
                </li>*/?>
                 <?php if(!$this->settings['display_state']):?>
                <li class="fields">
                 
                    <div class="fields">
                        <label for="billing:region_id" class="required"><em>*</em><?php echo $this->__('State/Province') ?></label>
                        <div class="input-box">
                            <select id="billing:region_id" name="billing[region_id]" title="<?php echo $this->__('State/Province') ?>" class="validate-select" style="display:none;">
                                <option value=""><?php echo $this->__('Please select region, state or province') ?></option>
                            </select>
                            <script type="text/javascript">
                            //<![CDATA[
                                $('billing:region_id').setAttribute('defaultValue',  "<?php echo $this->getAddress()->getRegionId() ?>");
                            //]]>
                            </script>
                            <input type="text" id="billing:region" name="billing[region]" value="<?php echo $this->htmlEscape($this->getAddress()->getRegion()) ?>"  title="<?php echo $this->__('State/Province') ?>" class="input-text" style="display:none;" />
                        </div>
                    </div>
                    
                </li>
                <?php endif; ?>
               
                    <?php if(!$this->settings['display_zipcode']):?>
                 <li class="fields">
                    <div class="field">
                        <label for="billing:postcode" class="required"><em>*</em><?php echo $this->__('Zip/Postal Code') ?></label>
                        <div class="input-box">
                            <input type="text" title="<?php echo $this->__('Zip/Postal Code') ?>" name="billing[postcode]" id="billing:postcode" value="<?php echo $this->htmlEscape($this->getAddress()->getPostcode()) ?>" class="input-text validate-zip-international required-entry" />
                        </div>
                    </div>
                      </li>
                    <?php endif; ?>
                     <?php if(!$this->settings['display_country']):?>
                      <li class="fields">
                    <div class="field">
                        <label for="billing:country_id" class="required"><em>*</em><?php echo $this->__('Country') ?></label>
                        <div class="input-box">
                            <?php echo $this->getCountryHtmlSelect('billing') ?>
                        </div>
                    </div>
                          </li>
                    <?php else:?>
                     <input type="hidden" name="billing[country_id]" id="billing:country_id" value="<?php echo $this->settings['default_country_id'];?>" />
                      
                     <?php endif; ?>
               
               
                     <?php if(!$this->settings['display_telephone']):?>
                       <li class="fields">
                    <div class="field">
                        <label for="billing:telephone" class="required"><em>*</em><?php echo $this->__('Telephone') ?></label>
                        <div class="input-box">
                            <input type="text" name="billing[telephone]" value="<?php echo $this->htmlEscape($this->getAddress()->getTelephone()) ?>" title="<?php echo $this->__('Telephone') ?>" class="input-text required-entry" id="billing:telephone" />
                        </div>
                    </div>
                           </li>
                     <?php endif; ?>

                     <?php if(!$this->settings['display_fax']):?>
                           <li class="fields">
                    <div class="field">
                        <label for="billing:fax"><?php echo $this->__('Fax') ?></label>
                        <div class="input-box">
                            <input type="text" name="billing[fax]" value="<?php echo $this->htmlEscape($this->getAddress()->getFax()) ?>" title="<?php echo $this->__('Fax') ?>" class="input-text" id="billing:fax" />
                        </div>
                    </div>
                           </li>
                     <?php endif; ?>
                
                <?php if(!$this->isCustomerLoggedIn()): ?>

        <?php $_dob = $this->getLayout()->createBlock('customer/widget_dob') ?>
        <?php $_gender = $this->getLayout()->createBlock('customer/widget_gender') ?>
            <?php if ($_dob->isEnabled() || $_gender->isEnabled()): ?>
                <li class="fields">
                <?php if ($_dob->isEnabled()): ?>
                    <div class="field">
                        <?php echo $_dob->setDate($this->getQuote()->getCustomerDob())->setFieldIdFormat('billing:%s')->setFieldNameFormat('billing[%s]')->toHtml() ?>
                    </div>
                <?php endif; ?>
                <?php if ($_gender->isEnabled()): ?>
                    <div class="field">
                        <?php echo $_gender->setGender($this->getQuote()->getCustomerGender())->setFieldIdFormat('billing:%s')->setFieldNameFormat('billing[%s]')->toHtml() ?>
                    </div>
                <?php endif ?>
                </li>
            <?php endif ?>

        <?php $_taxvat = $this->getLayout()->createBlock('customer/widget_taxvat') ?>
        <?php if ($_taxvat->isEnabled()): ?>
                <li>
                    <?php echo $_taxvat->setTaxvat($this->getQuote()->getCustomerTaxvat())->setFieldIdFormat('billing:%s')->setFieldNameFormat('billing[%s]')->toHtml() ?>
                </li>
        <?php endif ?>
    <?php if(!$this->isCustomerLoggedIn()): ?>
                    <li class="fields" id="register-customer-email">
                    <div class="field">
                        <label for="billing:email" class="required"><em>*</em><?php echo $this->__('Email Address') ?></label>
                        <div class="input-box">
                            <input type="text" name="billing[email]" id="billing:email" value="<?php echo $this->htmlEscape($this->getAddress()->getEmail()) ?>" title="<?php echo $this->__('Email Address') ?>" class="input-text validate-email <?php /*required-entry*/?>" />
                        </div>
                    </div>
                   </li>
                 <?php endif ?>
                <li class="fields" id="register-customer-password">
                    <div class="field">
                        <label for="billing:customer_password" class="required"><em>*</em><?php echo $this->__('Password') ?></label>
                        <div class="input-box">
                            <input type="password" name="billing[customer_password]" id="billing:customer_password" title="<?php echo $this->__('Password') ?>" class="input-text required-entry validate-password" />
                        </div>
                    </div>
                    </li>
                    <li class="fields" id="register-customer-confirmpassword">
                    <div class="field">
                        <label for="billing:confirm_password" class="required"><em>*</em><?php echo $this->__('Confirm Password') ?></label>
                        <div class="input-box">
                            <input type="password" name="billing[confirm_password]" title="<?php echo $this->__('Confirm Password') ?>" id="billing:confirm_password" class="input-text required-entry validate-cpassword" />
                        </div>
                    </div>
                </li>
                <li class="fields" id="register-customer-newsletter">
                    <div class="field">
                            <input type="checkbox"  style="float: left;margin-top: 2px;" name="billing[is_subscribed]" value="1" title="<?php echo Mage::helper('customer')->__('Sign Up for Newsletter') ?>"
                            id="billing:is_subscribed" />
                            <label for="billing:is_subscribed" style="padding-left: 10px; float:left;width:200px; clear:none;"><?php echo
                            Mage::helper('customer')->__('Sign Up for Newsletter') ?></label>
                    </div>
                </li>
                <?php endif; ?>
                <?php /* if ($this->isCustomerLoggedIn() && $this->customerHasAddresses()):?>
                    <li class="control">
                        <input type="hidden" name="billing[save_in_address_book]"  value="1" title="<?php echo $this->__('Save in address book') ?>" id="billing:save_in_address_book" />

                    </li>
                <?php else:?>
                    <li class="no-display"><input type="hidden" name="billing[save_in_address_book]" value="1" /></li>
                <?php endif; */?>
            </ul>
     </li>
    </ul>


<!-- End of Billing fields -->
<script type="text/javascript">

//<![CDATA[
    var billing = new Billing('co-form', '<?php echo $this->getUrl('checkout/onepage/getAddress') ?>address/', '<?php echo $this->getUrl('checkout/onepage/saveBilling') ?>');
    var billingForm = new VarienForm('co-form');
   $('billing-address-select') && billing.newAddress(!$('billing-address-select').value);

    //]]>
    </script>
<?php if(!$this->settings['display_state']):?>
    <script type="text/javascript">countryRegions = <?php echo $this->helper('directory')->getRegionJson() ?></script>
    <script type="text/javascript">
    var billingRegionUpdater = new RegionUpdater('billing:country_id', 'billing:region', 'billing:region_id', countryRegions, undefined, 'billing:postcode');</script>
<?php endif;?>

<script type="text/javascript">
document.observe('dom:loaded', function()
{

<?php if($this->settings['enable_ajax_save_billing']):?>
var shipping_address_select = $('shipping-address-select');
var billing_address_select = $('billing-address-select');
var billing_region_id = $('billing:region_id');
var shipping_region_id = $('shipping:region_id');
<?php if($this->AjaxSaveBillingFields('country')){ ?>
$('billing:country_id').observe('change',function() { AjaxupdateShippingandPayment() });
<?php if($this->BillingAddressForShipping()){ ?>
$('shipping:country_id').observe('change', function() { AjaxupdateShippingandPayment() });
<?php if($this->isCustomerLoggedIn()){ ?>
if(shipping_address_select !== null)
{
Event.stopObserving('shipping-address-select', 'change');
$('shipping-address-select').observe('change', function() { AjaxupdateShippingandPayment() });
}
<?php }}} ?>

<?php if($this->AjaxSaveBillingFields('state/region')): ?>
if(billing_region_id != null){
$('billing:region_id').observe('change', function() { AjaxupdateShippingandPayment() });
$('billing:region').observe('change', function() { AjaxupdateShippingandPayment() });
}

<?php if($this->BillingAddressForShipping()): ?>
if(shipping_region_id != null){
$('shipping:region_id').observe('change',function() { AjaxupdateShippingandPayment() });
$('shipping:region').observe('change', function() { AjaxupdateShippingandPayment() });
}
<?php if($this->isCustomerLoggedIn()): ?>
if(shipping_address_select !== null) {
Event.stopObserving('shipping-address-select', 'change');
$('shipping-address-select').observe('change', function() { AjaxupdateShippingandPayment() });
}
<?php endif; ?>
<?php endif; ?>
<?php if($this->isCustomerLoggedIn()): ?>
if(billing_address_select !== null) {
Event.stopObserving('billing-address-select', 'change');
$('billing-address-select').observe('change',function() { AjaxupdateShippingandPayment() });
}
<?php endif; ?>
<?php endif; ?>
<?php if($this->AjaxSaveBillingFields('zip code / postal code')): ?>
$('billing:postcode').observe('change', function() { AjaxupdateShippingandPayment() });

<?php if($this->BillingAddressForShipping()): ?>
$('shipping:postcode').observe('change', function() { AjaxupdateShippingandPayment() });
<?php if($this->isCustomerLoggedIn()): ?>
if(shipping_address_select !== null) {
Event.stopObserving('shipping-address-select', 'change');
$('shipping-address-select').observe('change',function() { AjaxupdateShippingandPayment() });
}
<?php endif; ?>
<?php endif; ?>
<?php if($this->isCustomerLoggedIn()): ?>
if(billing_address_select !== null) {
Event.stopObserving('billing-address-select', 'change');
$('billing-address-select').observe('change', function() { AjaxupdateShippingandPayment() });
}
<?php endif; ?>
<?php endif; ?>
<?php if($this->AjaxSaveBillingFields('city')): ?>
$('billing:city').observe('change',function() { AjaxupdateShippingandPayment() });

<?php if($this->BillingAddressForShipping()): ?>
$('shipping:city').observe('change', function() { AjaxupdateShippingandPayment() });
<?php if($this->isCustomerLoggedIn()): ?>
if(shipping_address_select !== null) {
Event.stopObserving('shipping-address-select', 'change');
$('shipping-address-select').observe('change', function() { AjaxupdateShippingandPayment() });
}
<?php endif; ?>
<?php endif; ?>
<?php if($this->isCustomerLoggedIn()): ?>
if(billing_address_select !== null) {
Event.stopObserving('billing-address-select', 'change');
$('billing-address-select').observe('change',function() { AjaxupdateShippingandPayment() });
}
<?php endif; ?>
<?php endif; ?>
   function AjaxupdateShippingandPayment()
    {
             var shipment_methods = $('ajax-shipping-method');
             var payment_methods = $('ajax-payment-methods');
             var totals = $('checkout-review-load');
             var shipment_methods_found = false;

        if(typeof shipment_methods != 'undefined'&& shipment_methods != null )
        {

            shipment_methods_found = true;
        }

        if(shipment_methods_found)
        {
            shipment_methods.update('<div class="loading-ajax">&nbsp;</div>');
        }
       
        payment_methods.update('<div class="loading-ajax">&nbsp;</div>');
        totals.update('<div class="loading-ajax">&nbsp;</div>');
        this.saveUrl ='<?php echo $this->getUrl('onestepcheckout/index/savebilling', array('_secure'=>true)); ?>'
        var request = new Ajax.Request(
            this.saveUrl,
            {
                method:'post',
                parameters: Form.serialize('co-form'),
                onSuccess: function(transport)
                {

                 if(transport.status == 200)
                 {

                var data = transport.responseText.evalJSON();
                if(shipment_methods_found)
                 {
                    shipment_methods.update(data.shipping_method);
                 }
                payment_methods.update(data.payment_method);
                checkout.reloadReviewBlock();
               // totals.update(data.product_information);

                }
              }

            }
        );
//var updater = new Ajax.Updater('product-details', this.saveUrl, {method: 'post',parameters: Form.serialize('co-form')});

            }
            <?php endif; ?>
  })

</script>
