<?php
/**
 * @name         :  Apptha One Step Checkout
 * @version      :  1.1
 * @since        :  Magento 1.4
 * @author       :  Apptha - http://www.apptha.com
 * @copyright    :  Copyright (C) 2011 Powered by Apptha
 * @license      :  http://opensource.org/licenses/osl-3.0.php  Open Software License (OSL 3.0)
 * @Creation Date:  June 20 2011
 * 
 * */

?>
<script type="text/javascript">
//<![CDATA[
var payment;
    var payment = new Payment('<?php echo $this->getUrl('onestepcheckout/index/play/', array('_secure'=>true)) ?>','<?php echo $this->getUrl('onestepcheckout/index/paymentreload/', array('_secure'=>true)) ?>','<?php echo $this->getUrl('onestepcheckout/index/index', array('_secure'=>true)) ?>');
    
//]]>
 </script>
<!---Title  of the page -->
<div class="page-title">
 <h1><?php echo $this->__('Payment Methods') ?></h1>
</div>
<!---End of Title -->
<!---Start of Payment Methods -->
<div id="ajax-payment-methods">
<?php echo $this->getChildHtml('methods'); ?>
</div>
<!---End of Payment Methods -->
 