<?php
/**
 * Magento
 *
 *
 * @category    design
 * @package     base_default
 * @copyright   Copyright (c) 2012 Magento Inc. (http://www.magentocommerce.com)
 * @license     http://opensource.org/licenses/afl-3.0.php  Academic Free License (AFL 3.0)
 */
?>
<?php
$novaposhta_selected = "";
$expressdelivery_selected = "";
$pickup_selected = "";
$customer_city = "";
$shippingmethod = Mage::getStoreConfig('onestepcheckout/general/default_shipping_method');
$_shippingRateGroups = $this->getShippingRates();
$street = "";
if ($this->isCustomerLoggedIn()) {
    $customerAddressId = Mage::getSingleton('customer/session')->getCustomer()->getDefaultBilling();
    if ($customerAddressId) {
        $customerAddress = Mage::getModel('customer/address')->load($customerAddressId);
        $street = trim($customerAddress->getStreet(1),'-');
        $customer_city = trim($customerAddress->getCity(),'-');
    }
}  
 
$novaposhta_cities = array();
foreach (Mage::getModel('novaposhta/city')->getCollection()->setOrder('name_ru','ASC') as $city){
    $novaposhta_cities[] = array('id' => $city->getId(), 'text' => $city->getNameRu());
    if($customer_city == trim($city->getNameRu()))
        $novaposhta_selected = $city->getId();
}

$expressdelivery_cities = $novaposhta_cities;//array();
/*foreach ( Mage::getModel('expressdelivery/city')->getCollection()->setOrder('name_ru','ASC') as $city){
    $expressdelivery_cities[] = array('id' => $city->getId(), 'text' => $city->getNameRu());
    if($customer_city == trim($city->getNameRu()))
        $expressdelivery_selected = $city->getId();
}

$pickup_cities = array();
foreach ( Mage::getModel('store_pickup/city')->getCollection()->setOrder('name_ru','ASC') as $city){
    $pickup_cities[] = array('id' => $city->getId(), 'text' => $city->getNameRu());
    if($customer_city == trim($city->getNameRu()))
        $pickup_selected = $city->getId();
}*/
?>
<ul class="form-list">
    <li class="wide">
       <?php /* <label for="shipping_method_choice" class="required"><?php echo $this->__('Delivery:') ?></label>*/?>
        <div class="input-box">
            <select name="shipping_method" class="delivery" id="shipping_method_choice">
                <?php foreach ($_shippingRateGroups as $code => $_rates): ?>
                    <?php foreach ($_rates as $_rate): ?>
                    <option value="<?php echo $_rate->getCode() ?>" <?php if($_rate->getcarrier()."_".$code==$shippingmethod):?>selected="selected"<?php endif?>><?php echo $this->getCarrierName($code) ?></option>
                    <?php endforeach;?>
                <?php endforeach;?>
            </select>
        </div>
    </li>
    <li class="wide city">
       <?php /* <label for="billing:city" class="required"><?php echo $this->__('City:') ?></label>*/?>
        <div class="input-box">
            <input type="hidden" class="autocomplete validate-city populate required-entry validate-shipping" name="city_id"  id="hidden_city" />
            <select class="autocomplete validate-city populate required-entry validate-shipping" id="select_city" name="city_id" />
            <input type="hidden" name="billing[city]" id="billing_city" value="-" />
        </div>
    </li>
    <li class="wide office_service_section">
       <?php /* <label for="shipping_method" class="required"><?php echo $this->__('Office service:') ?></label>*/ ?>
        <div class="input-box">
            <select disabled="disabled" id="shipping_method" name="warehouse_id" class="validate-selection required-entry">
                <option selected="selected">&nbsp;</option>
            </select>
            <span class="ajax_loader" id='ajax_loader_shipping' style='display:none;float: right; margin-top: -20px; margin-right: -35px;'><img src='<?php echo $this->getSkinUrl('images/opc-ajax-loader.gif')?>'/></span>

        </div>
    </li>

    <li class="wide street_section">
        <?php /*<label for="shipping_method" class="required"><?php echo $this->__('Address') ?>:</label>*/?>
        <div class="input-box">
            <input type="text" title="<?php echo $this->__('Street Address') ?>" name="billing[street][]" id="billing:street1" value="<?php  if($this->isCustomerLoggedIn())  echo $this->htmlEscape($street) ?>" class="input-text required-entry input-street"  />

        </div>
    </li>
</ul>
<script type="text/javascript" >
    var ajax_update;
    var novaposhta_selected = <?php echo $novaposhta_selected ? $novaposhta_selected : '""' ?>;
    var expressdelivery_selected = <?php echo $expressdelivery_selected ? $expressdelivery_selected  : '""'?>;
    var pickup_selected = <?php echo $pickup_selected ? $pickup_selected  : '""'?>;
    mageBaseUrl = '<?php echo Mage::getBaseUrl(); ?>'.replace(/\/$/, '');

    jQuery(".input-street").watermark("<?php echo  $this->__("street, building, apartment")?>");
    jQuery('#shipping_method, #shipping_method_choice').on("change", function(e) {
        shipping.reloadReviewBlock();
        var payment_methods = $('ajax-payment-methods');
        try {
            if(ajax_update)
                ajax_update.abort();
            var step = 0;
            if (jQuery('.step-2').is(':visible'))
                step = 2;
            else
                step = 3;
            setTimeout(function(){
            ajax_update = jQuery.ajax({
                url: '<?php echo Mage::getUrl("onestepcheckout/ajax/update") ?>',
                dataType: 'json',
                type: 'post',
                data: jQuery('#co-form').serialize()+"&step="+step,
                success: function (response) {
                    if (response && response.mini_cart) {
                        jQuery('#ext_minicart').replaceWith(response.mini_cart);
                    }
                },
                complete: function (response) {

                }

            });
            }, 2000);
        }
        catch(e) {
            console.log(e);
        }

    });

    jQuery('#checkout-payment-method-load input[type="radio"]').on("change",function () {
        try {
            if(ajax_update)
                ajax_update.abort();
            var step = 2;
            ajax_update = jQuery.ajax({
                url: '<?php echo Mage::getUrl("onestepcheckout/ajax/update") ?>',
                dataType: 'json',
                type: 'post',
                data: jQuery('#co-form').serialize()+"&step="+step,
                success: function (response) {
                    if (response && response.mini_cart) {
                        jQuery('#ext_minicart').replaceWith(response.mini_cart);
                    }
                },
                complete: function (response) {

                }

            });
        }
        catch (e) {
            console.log(e);
        }
    });

    jQuery('.button.btn-continue, .checkout-steps li a').click(function () {
        try {
            if(ajax_update)
                ajax_update.abort();
            var step = 0;
            if (jQuery(this).hasClass('step-payment'))
                step = 2;
            else
                step = 3;
            ajax_update = jQuery.ajax({
                url: '<?php echo Mage::getUrl("ext/ajax/update") ?>',
                dataType: 'json',
                type: 'post',
                data: jQuery('#co-form').serialize()+"&step="+step,
                success: function (response) {
                    if (response && response.mini_cart) {
                        jQuery('#ext_minicart').replaceWith(response.mini_cart);
                    }
                },
                complete: function (response) {

                }

            });
        }
        catch (e) {
            console.log(e);
        }
    });
    var hidden_city = jQuery('#hidden_city');
    var select_city = jQuery('#select_city');
    var office_service_section = jQuery('.office_service_section');
    var street_section = jQuery('.street_section');
    var shipping_method = jQuery('#shipping_method');
    nova_poshta_cities = <?php echo  Mage::helper('core')->jsonEncode($novaposhta_cities);?>;
    expressdelivery_cities = jQuery.parseJSON('<?php echo  Mage::helper('core')->jsonEncode($expressdelivery_cities);?>');
    pickup_cities = jQuery.parseJSON('<?php echo  Mage::helper('core')->jsonEncode($pickup_cities);?>');

    select_city.change(function () {
        var selected_city = jQuery(select_city.get(0).options[select_city.get(0).selectedIndex]).text();
        if (selected_city) {
            jQuery('#billing_city').val(selected_city);
        }
    });

    jQuery('#shipping_method_choice').on("change", function (e) {
        select_city.removeClass('required-entry');
        hidden_city.removeClass('required-entry');
		jQuery("#ext_minicart .total").animate({"opacity": 0.1},500).animate({"opacity": 1},500);
       if (jQuery(this).val() == "expressdelivery_city_") {
           select_city.addClass('required-entry');
//            city.removeClass('select2-offscreen').select2({
//                width: '254px',data:expressdelivery_cities});
            office_service_section.hide();
            removeValidation(shipping_method);
            jQuery(".input-street").val('<?php echo $street;?>');
            street_section.show();
//<!--            city.select2("val",--><?php //echo $expressdelivery_selected ? $novaposhta_selected : '""' ?><!--);-->

            hidden_city.select2("destroy");
           select_city.empty();
		   select_city.append(jQuery('<option>').text("Ваш город").attr('value', 10000));
            jQuery.each(expressdelivery_cities, function(i, c) {
                select_city.append(jQuery('<option>').text(c.text).attr('value', c.id));
            });
           if(expressdelivery_selected)
            select_city.val(expressdelivery_selected);
            select_city.show();
			select_city.select2({
				placeholder: "Ваш город",
				matcher: function(term, text) {
					return text === 'Other' || text.toUpperCase().indexOf(term.toUpperCase())==0;
				},
			});
//            city.replaceWith(select);

        }
        else if (jQuery(this).val() == "novaposhta_warehouse_") {
		   //shipping_method.select2("destroy");
		   //shipping_method.hide();
		   shipping_method.select2("enable", false);
		   select_city.select2("destroy");
           select_city.hide();
		   shipping_method.empty();
           hidden_city.addClass('required-entry');
		   
           hidden_city.select2({
                query: function (query) {
                    var data = {results: []};
                    data.results.push({text: query.term});
                    query.callback(data);
                }

            });
			
           shipping_method.select2({minimumResultsForSearch: -1});

		   hidden_city.removeClass('select2-offscreen').select2({
					placeholder: "Ваш город",
					matcher: function(term, text) {
						return text === 'Other' || text.toUpperCase().indexOf(term.toUpperCase())==0;
					},
					width: '254px',
					data: nova_poshta_cities
			});
            office_service_section.show();
            shipping_method.addClass('required-entry');
            street_section.hide();
            jQuery(".input-street").val('-');
           hidden_city.select2("val",<?php echo $novaposhta_selected ? $novaposhta_selected : '""' ?>);
		   //shipping_method.select2("destroy");
		   //shipping_method.select2({minimumResultsForSearch: -1});
        }
        else if (jQuery(this).val() == "store_pickup_city_") {

           select_city.addClass('required-entry');
            office_service_section.show();
            shipping_method.addClass('required-entry');
            street_section.hide();
            jQuery(".input-street").val('-');

           hidden_city.select2("destroy");
           select_city.empty();
            jQuery.each(pickup_cities, function(i, c) {
                select_city.append(jQuery('<option>').text(c.text).attr('value', c.id));
            });
			
           if(pickup_selected)
           select_city.val(pickup_selected);
           select_city.show();
			select_city.select2({
				placeholder: "Ваш город",
				matcher: function(term, text) {
					return text === 'Other' || text.toUpperCase().indexOf(term.toUpperCase())==0;
				},
			});
		   //shipping_method.select2("destroy");
		   //shipping_method.select2({minimumResultsForSearch: -1});
           select_city.trigger('change');
		   shipping_method.select2("enable", true);
//            city.replaceWith(select);
        }
        hidden_city.val('');
       jQuery('#billing_city').val('-');

    });
    jQuery(document).ready(function(){
        jQuery('#shipping_method_choice').trigger('change');
    });
	
	jQuery(document).ready(function() { jQuery("#shipping_method_choice").select2({minimumResultsForSearch: -1}); });
	


jQuery('#shipping_method').on("change", function (e) {
jQuery(document).ready(function() { jQuery("#shipping_method").select2({minimumResultsForSearch: 5}); });
shipping_method.select2("enable", true);
});


</script>
