<?php
/**
 * @name         :  Apptha One Step Checkout
 * @version      :  1.1
 * @since        :  Magento 1.4
 * @author       :  Apptha - http://www.apptha.com
 * @copyright    :  Copyright (C) 2011 Powered by Apptha
 * @license      :  http://opensource.org/licenses/osl-3.0.php  Open Software License (OSL 3.0)
 * @Creation Date:  June 20 2011
 * 
 * */
?>
<!---Title  of the page -->
<div class="page-title">
    <h1><?php echo $this->__('Shipping_') ?></h1>
</div>
<!---End of Title -->
<div id="ajax-shipping-method">
<?php echo $this->getChildHtml('ship_method'); ?>
</div>