<?php

$magicToolboxHelper = Mage::helper('magiczoomplus/settings');

$tool = $magicToolboxHelper->loadTool();
$tool->params->resetProfile();

$force = $tool->params->checkValue('include-headers-on-all-pages', 'Yes', 'default');
$recentlyViewedProductsBlockEffectEnabled = !$tool->params->checkValue('enable-effect', 'No', 'recentlyviewedproductsblock');


$page = $this->getPageType();


if($force ||
   $recentlyViewedProductsBlockEffectEnabled ||
   ($tool->params->profileExists($page) && !$tool->params->checkValue('enable-effect', 'No', $page))) {
    echo $tool->getHeadersTemplate(str_replace('/magiczoomplus.js', '', $this->getSkinUrl('js/magiczoomplus.js')), str_replace('/magiczoomplus.css', '', $this->getSkinUrl('css/magiczoomplus/magiczoomplus.css')));
    if($page == 'product' && $this->displayProductPageScript() && $this->getRequest()->getModuleName() != 'review') {
        $current_product = Mage::registry('current_product');
        if($current_product) {
            $current_product_id = $current_product->getId();
        }
        $mouseEvent = $tool->params->getValue('selectorTrigger', 'product');
        if($mouseEvent == 'hover') $mouseEvent = 'mouseover';

?>
<script type="text/javascript" src="<?php echo $this->getSkinUrl('js/magictoolbox_utils.js'); ?>"></script>
<script type="text/javascript">
    var magicToolboxLinks = [];
    var magicToolboxProductId = <?php echo $current_product_id; ?>;
    var magicToolboxTool = 'magiczoomplus';
    var magicToolboxToolMainId = 'MagicZoomPlusImage'+magicToolboxProductId; 
    var magicToolboxOptionTitles = ['<?php echo strtolower(trim(preg_replace('/\s*,\s*/is', "','", $tool->params->getValue('option-associated-with-images', 'product')))); ?>'];
    var magicToolboxSwitchMetod = '<?php echo $mouseEvent; ?>';
    var magicToolboxMouseoverDelay = <?php echo $tool->params->checkValue('selectorTrigger', 'hover', 'product') ? 60 : 0; ?>;
    var mjsAddEventMethod = 'je1';

    if(typeof(magicJS.Doc.je1) == 'undefined') mjsAddEventMethod = 'jAddEvent';

    $mjs(window)[mjsAddEventMethod]('load', function() {
        magicToolboxPrepareOptions();
    });
    var allowHighlightActiveSelectorOnUpdate = true;
    mzOptions['onUpdate'] = function(id, oldA, newA) {
        if(allowHighlightActiveSelectorOnUpdate) {
            magicToolboxHighlightActiveSelector(newA);
        }
        allowHighlightActiveSelectorOnUpdate = true;
    };
</script>
<?php
        $this->displayProductPageScript(false);
    }
    if($tool->params->checkValue('magicscroll', 'Yes', $page) && $this->displayAdditionalScroll()) {
        $scroll = $magicToolboxHelper->loadScroll();
        $scroll->params->resetProfile();
        echo $scroll->getHeadersTemplate(str_replace('/magicscroll.js', '', $this->getSkinUrl('js/magicscroll.js')), str_replace('/magicscroll.css', '', $this->getSkinUrl('css/magiczoomplus/magicscroll.css')), false);
        $this->displayAdditionalScroll(false);
    }
}

?>
