<?php $isLoggedIn = $this->isCustomerLoggedIn() ?>
<div id="checkout-block" class="<?php echo $this->helper('fi_checkout')->isLocationAsOneField() ? 'join-address' : 'split-address' ?>">
    <ul class="infos-menus">
      <?php if (!$isLoggedIn):?>  <li <?php if (!$isLoggedIn): ?> class="current"<?php endif ?>><a href="#new-user"><?php echo $this->__('New User') ?></a></li> <?php endif ?>
        <li <?php if ($isLoggedIn): ?> class="current"<?php endif ?>><a href="#<?php echo $isLoggedIn ? 'registered-user' : 'login' ?>"><?php echo $this->__('Registered') ?></a></li>
        <li class="clear"></li>
    </ul>
    <div class="clear"></div>
    <?php if (!$isLoggedIn): ?><div class="tab-cont new-user">
        <?php echo $this->getLoginMessagesBlock()->getGroupedHtml() ?>
        <?php echo $this->getChildHtml('fi_checkout_user_block') ?>
    </div><?php endif ?>
    <div class="tab-cont login<?php $isLoggedIn && print ' registered-user'?>"<?php if (!$isLoggedIn): ?> style="display:none"<?php endif ?>>
        <?php if ($isLoggedIn): ?>
            <?php echo $this->getLoginMessagesBlock()->getGroupedHtml() ?>
            <?php echo $this->getChild('fi_checkout_user_block')->setFilled(true)->toHtml() ?>
        <?php else: ?>
            <form id="checkout-login-form" action="<?php echo $this->getLoginUrl() ?>" method="post">
                <div class="field">
                    <label><?php echo $this->__('Login') ?></label>
                    <input type="text" name="login[username]" class="input-text required-entry validate-email" />
                </div>
                <div class="field">
                    <label><?php echo $this->__('Password') ?></label>
                    <input type="password" name="login[password]" class="input-text required-entry validate-password" />
                </div>
                <div class="buttons">
                    <a href="<?php echo $this->getUrl('customer/account/forgotpassword') ?>"><?php echo $this->__('Forgot your password?') ?></a>
                    <button type="submit" class="button"><span><span><?php echo $this->__('Log In') ?></span></span></button>
                </div>
            </form>
        <?php endif ?>
    </div>
    <div class="overlay"></div>
</div>
