
<?php //print_r ($this->getLastpostall()) ?>
 
<?php $posts = $this->getLastpostcat(1) ?>
    <div class="widget-latest" id="latestt-posts">
        <div class="h2"><span><?php  echo Mage::helper('blog')->__('Latest Posts');  ?></span></div>
        <div class="contentblog">
        <ul class="last-postss">
            <?php foreach ($posts as $post): ?>
            <?php //print_r ($post);?>
  				          
                <li>
                <a class="title-adress-post" href="<?php echo $post->getAddress(); ?>" rel="nofollow"><?php echo $post->gettitle(); ?></a>
               
                <span class="shortt-content">
				 <span class="timee-post title-adress-post"><?php echo $post->getcreated_time () ;?></span>
				 <?php echo $post->getshort_content(); ?></span>
                <a class="title-adress-post-body" href="<?php echo $post->getAddress(); ?>" rel="nofollow">...</a>
                </li>
            <?php endforeach; ?>
        </ul>
        </div>
    </div>

