
<?php $comment = $this->getLastcomment() ?>

<!-- JS Files Start -->

<script type="text/javascript">
	/* Start BX slider*/
	jQuery(document).ready(function($){
		/* BX slider 1*/
		if ($('.slider1').length){
			$('.slider1').bxSlider({ slideWidth: 142, minSlides: 1, maxSlides: 8, slideMargin: 18,  speed: 1500  });
		}
		if ($('.slider2').length){
			$('.slider2').bxSlider({ slideWidth: 270,   mode: 'horizontal',  useCSS: false, easing: 'easeOutElastic',  speed: 2000 });
		}
		if ($('.slider3').length){
			$('.slider3').bxSlider({ slideWidth: 425, minSlides: 1, maxSlides: 2, slideMargin: 0, slideMargin: 18});
		}
		if ($('.slider4').length){
			$('.slider4').bxSlider({ mode: 'fade', slideWidth: 270, minSlides: 1, maxSlides: 1, slideMargin: 1, slideMargin: 0 });
		}
		if ($('.slider5').length){
			$('.slider5').bxSlider({ slideWidth: 870,   mode: 'horizontal',  useCSS: false, easing: 'easeOutElastic',  speed: 2000 });
		}
		if ($('.slider6').length){
			$('.slider6').bxSlider({ slideWidth: 155, minSlides: 1, maxSlides: 4, slideMargin: 18,  speed: 1500  });
		}
		if ($('.slider7').length){
			$('.slider7').bxSlider({ slideWidth: 1170,   mode: 'horizontal',  useCSS: false, easing: 'easeOutElastic',  speed: 2000 });
		}
		/* BX slider 1*/
	});
	/* End BX slider*/


	/* Start Range Slider*/
	$(function() {
		$( "#slider-range" ).slider({
			range: true,
			min: 0,
			max: 500,
			values: [ 75, 300 ],
			slide: function( event, ui ) {
				$( "#amount" ).val( "$" + ui.values[ 0 ] + " - $" + ui.values[ 1 ] );
			}
		});
		$( "#amount" ).val( "$" + $( "#slider-range" ).slider( "values", 0 ) +
			" - $" + $( "#slider-range" ).slider( "values", 1 ) );
	});
	/* End Range Slider*/

</script>

<div class="testimonials">
	<div class="h2"><span><?php  echo Mage::helper('blog')->__('Latest Comments');  ?></span></div>
	<div class="slider4">
		<?php  foreach ($comment as $item) :?>

			<div class="slide">
				<div class="author-name-holder"> <img src="http://erudyt.com.ua/bookstore/html/images/image19.png" /> </div>
				<strong class="title"> <?php echo $item->getUser() ?>
					<a class="title-adress-post" href="<?php echo $item->getAddress(); ?>" ><span><?php echo $item->getTitle() ?></span></a></strong>
				<div class="slide">
					<p><?php echo $item->getComment() ?></p>
				</div>
			</div>


		<?php endforeach ?>
	</div>
</div>
<div style="clear: both;height: 15px;display: block;width: 100%;"></div>