<?php
/** 
 * @category    Mana
 * @package     Mana_AttributePage
 * @copyright   Copyright (c) http://www.manadev.com
 * @license     http://www.manadev.com/license  Proprietary License
 */
/* @var $this Mana_AttributePage_Block_Option_Featured */
$i = -1;
$store_id = Mage::app()->getStore()->getStoreId();
$collection = Mage::getModel('mana_attributepage/attributePage_store')->getOptionFeaturedHome($store_id);


 $_count = count($collection);
$_filesHelper = $this->filesHelper();
?>
<?php if($_count) :?>
<div class="avtor_top_blok">
	<h3><?php echo $this->__('Avtor top mounthly')?></h3>
    <a href="<?php echo Mage::getBaseUrl()?>knigi-po-avtoram" > <?php echo $this->__('Avtor top all')?> </a>
</div>


   
        <?php foreach ($collection as $_optionPage) : $i++;?>
            <?php $_imgUrl = $_optionPage->getData('featured_image');
				  $_link= $_optionPage->getUrl();
				  $_escapedTitle = $this->escapeHtml($_optionPage->getData('title'));
				  $_id_avtor= $_optionPage->getData('option_id_0')
			 ?>
            <?php  ?>
               
<div class="featured-author">
          <div class="left">
          
           <span class="author-img-holder"> 
           <a class="product-images" href="<?php echo $_link?>" title="<?php echo $_escapedTitle ?>">
          
            <img alt="<?php echo $_escapedTitle ?>" title="<?php echo $_escapedTitle ?>"
        <?php echo $_filesHelper->renderImageAttributes($_imgUrl, $_optionPage->getData('140'), $_optionPage->getData('140')) ?>  >
           </a></span>
           
            <div class="author-det-box">
              <div class="avtor_h1">
              <span class="title2">
             <a href="<?php echo $_link ?>"> <?php echo $_escapedTitle ?></a>	
			 </span>
             </div>
            
  <div class="author-det"> 
  <?php $_best_product_collection=Mage::getModel('mana_attributepage/attributePage_store')->getBestsellingProductHome($_id_avtor); ?>
<?php  if (count($_best_product_collection) >0) :?>
 	<ul class="books-list">
	
	<?php  foreach ($_best_product_collection as $it) :?>
 	  <li><a href="<?php echo $it->getProductUrl(); ?>"><img src="<?php echo $this->helper('catalog/image')->init($it, 'small_image')->resize(125); ?>" alt="" /></a></li>
 	<?php endforeach ; ?>
	</ul>
<?php endif ?>
   </div>
</div>
</div>


         
</div>
                     
                     
                     
      
      
        <?php endforeach; ?>
  
<?php endif; ?>


	
    

