<?php
/** 
 * @category    Mana
 * @package     Mana_AttributePage
 * @copyright   Copyright (c) http://www.manadev.com
 * @license     http://www.manadev.com/license  Proprietary License
 */
/* @var $this Mana_AttributePage_Block_Option_Alpha */
$i = -1;
$_currentAlpha = '';
$_count = $this->getCollection()->count();

?>
<?php if($this->getAttributePage()->getData('show_alphabetic_search') && $_count) :?>
    <ul id="m-option-alpha-list" class="<?php if (!$this->isPagingNeeded()) : ?>no-paging<?php endif; ?>" data-m-block="Mana/AttributePage/AlphaList2">
        <?php foreach ($this->getCollection() as $_optionPage) : $i++;?>
            <?php
                /* @var $_optionPage Mana_AttributePage_Model_OptionPage_Store */
                $_alpha = $_optionPage->getData('alpha');
            ?>
            <?php if ($_alpha != $_currentAlpha): ?>
                <?php
                    $_currentAlpha = $_alpha;
                    $_displayAlpha = $_currentAlpha == '#'
                        ? Mage::getStoreConfig('mana_attributepage/attribute_page_settings/digit_label')
                        : $_currentAlpha;
                ?>
                <li class="m-alpha-pager test">
                    <?php if ($this->isPagingNeeded()) : ?>
                        <a href="<?php echo $this->getAlphaUrl($_currentAlpha) ?>"><?php echo $_displayAlpha; ?></a>
                    <?php else: ?>
                        <a href="#<?php echo $_currentAlpha; ?>"><?php echo $_displayAlpha; ?></a>
                    <?php endif; ?>
                </li>
            <?php endif; ?>
        <?php endforeach; ?>
        <?php if ($this->isPagingNeeded()) : ?>
            <li class="m-alpha-pager">
                 <a href="<?php echo $this->getAlphaClearUrl() ?>"><?php echo $this->__('All') ?></a>
            </li>
        <?php endif; ?>
    </ul>
<?php endif; ?>
