<?php
/** 
 * @category    Mana
 * @package     Mana_AttributePage
 * @copyright   Copyright (c) http://www.manadev.com
 * @license     http://www.manadev.com/license  Proprietary License
 */
/* @var $this Mana_AttributePage_Block_Option_Featured */
$i = -1;
$store_id = Mage::app()->getStore()->getStoreId();
$collection = Mage::getModel('mana_attributepage/attributePage_store')->getOptionFeaturedHome($store_id);


//$collection = Mage::getModel('catalog/product')->getCollection();
    //->addAttributePageFilter('1')
    //->addStoreFilter($store_id)
    //->addFeaturedFilter()
//    $collection->addAttributeToSelect('*');
//    $collection->addFieldToFilter(array(
//        array('attribute'=>'magebuzz_featured_product','eq'=>1),                
//    ));
    
    //->addFieldToFilter('magebuzz_featured_product', array('eq' => 1))
    //->setOrder('position', 'ASC');
  //$collection->addAttributeToSelect('liderprodazh_product');
  //$collection->addFieldToFilter("liderprodazh_product", array('eq' => 1));
  //$collection->load();

 $_count = count($collection);
$_filesHelper = $this->filesHelper();
?>
<?php if($_count) :?>
<div class="avtor_top_blok">
	<div class="h3"><?php echo $this->__('Avtor top mounthly')?></div>
    <a href="<?php echo Mage::getBaseUrl()?>knigi-po-avtoram" rel="nofollow"> <?php echo $this->__('Avtor top all')?> </a>
</div>


   
        <?php foreach ($collection as $_optionPage) : $i++;?>
            <?php $_imgUrl = $_optionPage->getData('featured_image');
				  $_link= $_optionPage->getUrl();
				  $_escapedTitle = $this->escapeHtml($_optionPage->getData('title'));
				  $_id_avtor= $_optionPage->getData('option_id_0')
			 ?>
            <?php  ?>
               
<div class="cache featured-author">
          <div class="left">
          
           <span class="author-img-holder"> 
           <a class="product-images" href="<?php echo $_link?>" rel="nofollow" title="<?php echo $_escapedTitle ?>">
          
            <img alt="<?php echo $_escapedTitle ?>" title="<?php echo $_escapedTitle ?>"
        <?php echo $_filesHelper->renderImageAttributes($_imgUrl, $_optionPage->getData('140'), $_optionPage->getData('140')) ?>  >
           </a></span>
           
            <div class="author-det-box">
              <div class="avtor_h1">
              <span class="title2">
             <a href="<?php echo $_link ?>" rel="nofollow"> <?php echo $_escapedTitle ?></a>	
			 </span>
             </div>
            
    <div class="author-det">
        <?php $_best_product_collection=Mage::getModel('mana_attributepage/attributePage_store')->getBestsellingProductHome($_id_avtor); ?>
        <?php if (is_array($_best_product_collection)) { ?>
            <?php  if (count($_best_product_collection[0]) + count($_best_product_collection[1]) >0) { ?>
                <ul class="books-list">
                <?php  foreach ($_best_product_collection[0] as $it) { ?>
                    <li><a href="<?php echo $it->getProductUrl(); ?>" rel="nofollow"><img src="<?php echo $this->helper('catalog/image')->init($it, 'small_image')->resize(125); ?>" alt="" /></a></li>
                <?php  } ?>
                <?php  foreach ($_best_product_collection[1] as $it) { ?>
                    <li><a href="<?php echo $it->getProductUrl(); ?>" rel="nofollow"><img src="<?php echo $this->helper('catalog/image')->init($it, 'small_image')->resize(125); ?>" alt="" /></a></li>
                <?php  } ?>
                </ul>
            <?php } ?>
        <?php } ?>
    </div>

<!--    <div class="author-det">-->
<!--        --><?php //$_best_product_collection=Mage::getModel('mana_attributepage/attributePage_store')->getBestsellingProductHome($_id_avtor); ?>
<!--        --><?php // if (count($_best_product_collection) >0) :?>
<!--            <ul class="books-list">-->
<!--    -->
<!--                --><?php // foreach ($_best_product_collection as $it) :?>
<!--                    <li><a href="--><?php //echo $it->getProductUrl(); ?><!--"><img src="--><?php //echo $this->helper('catalog/image')->init($it, 'small_image')->resize(125); ?><!--" alt="" /></a></li>-->
<!--                --><?php //endforeach ; ?>
<!--            </ul>-->
<!--        --><?php //endif ?>
<!--    </div>-->
</div>
</div>
         
</div>
      
        <?php endforeach; ?>
  
<?php endif; ?>


	
    

