<?php
/** 
 * @category    Mana
 * @package     Mana_AttributePage
 * @copyright   Copyright (c) http://www.manadev.com
 * @license     http://www.manadev.com/license  Proprietary License
 */
/* @var $this Mana_AttributePage_Block_Option_View */
$_optionPage = $this->getOptionPage();
$_filesHelper = $this->filesHelper();
$_escapedTitle = $this->escapeHtml($_optionPage->getData('title'));
$_description = $_optionPage->getData('description');
$_description = Mage::helper('cms')->getBlockTemplateProcessor()->filter($_description);
?>
<div class="page-title category-title m-option-page-title">
    <h1><?php echo $_escapedTitle ?></h1>
</div>
<?php echo $this->getMessagesBlock()->getGroupedHtml() ?>

<div id="amore">
<?php if (($_imgUrl = $_optionPage->getData('image')) && $_filesHelper->shouldRenderImage($_imgUrl)): ?>
    <p class="category-image m-attribute-page-image">
        <img alt="<?php echo $_escapedTitle ?>" title="<?php echo $_escapedTitle ?>"
            <?php echo $_filesHelper->renderImageAttributes($_imgUrl, $_optionPage->getData('image_width'), $_optionPage->getData('image_height')) ?> />
    </p>
<?php endif; ?>
<?php if ($_description && $_optionPage->getData('description_position') == 'top'): ?>
<!--   <script src="http://www.jqueryscript.net/demo/Lightweight-jQuery-Read-More-Link-Plugin-Readmore-js/readmore.js"></script>-->
   <script src="/js/readmore.js"></script>
    <div class="category-description m-option-page-description std">
       <article class="slide" data-box-height="1000"><?php echo $_description ?></article>
      
    </div>
    <script>var bbss = jQuery.noConflict();
    bbss('#amore').readmore({
		maxHeight: 216,
		 speed: 1500,
		  moreLink: '<a class="more_a" href="#" rel="nofollow"><?php echo $this->__('Read more');?></a>',
		   lessLink: '<a class="more_a" href="#" rel="nofollow"><?php echo $this->__('Close');?></a>'});
  </script>
    <style>
        .more_a {
            display: block;
            text-align: right;
            margin: 5px 0 10px 0;
        }
    </style>

<?php endif; ?>
</div>
<?php echo $this->getChildHtml('product_list') ?>
<?php if ($_description && $_optionPage->getData('description_position') == 'bottom'): ?>
    <div class="category-description m-option-page-description std">
        <?php echo $_description ?>
    </div>
<?php endif; ?>
