.clear{clear:both;height:0;font-size:0}
.clearfix:after{clear:both;display:block;content:"";height:0;visibility:hidden}
.clearfix{display:inline-block}
* html .clearfix{height:1%}
.clearfix{display:block}
li.clearfix{display:list-item}
.logo-onepage{}
.onepage-page-title{}
.login-reg{width:100%;border-bottom:3px solid #ededed;margin:0px 0 30px;font-weight:700}
.onepage li{list-style:none}
.onepage li.fields{float:left;width:262px}
.onepage li.fields .field select,.onepage li.fields .field .input-text{width:254px!important}
.onepage .form-list .input-box{width:auto}
#co-form .input-box{width:auto}
#column-1,#column-2,#column-3{width:31%;float:left;padding:0 8px 0 0;margin:0 10px 0 0;background:transparent url(images/line-gradient.gif) no-repeat scroll 100% 0}
#column-3{margin:0;background:none;padding:0;width:34%}
#column-1{padding:0}
#column-2{margin-right:14px}
.onepage .page-title{border:none!important;margin-bottom:10px}
.onepage .form-list{width:100%;padding:0}

/*.steps.step-3 .shipping-method-bg{margin-top: -10px;position: absolute;}*/

.payment-bg{width:31px;height:41px;display:block;float:left;margin-right:5px}
.shipment-methods{padding-left:10px}
.shipment-methods label{color:#666}
.ship-address{float:left!important}
.address-checkbox{float:left!important;margin-top:2px}
.gift-messages{padding-left:3px}
.guest-reg{padding:0 0 5px 3px;display:block;color:#F09;font-weight:700}
#checkout-payment-method-load{}
#checkout-review-load{padding:0 0 10px}
#billing-new-address-form{margin:0}
#billing-new-address-form .billing-address-container{width:268px}
.col-1 .control{float:left;padding:0 30px 0 0}
#onepage-shipping_method dd{font-weight:700;color:#666}
.shipment-methods dd{margin-bottom:5px}
.checkout-agreements .agreement-content{height:64px}
.product-total{border-top:1px solid #ccc;border-bottom:1px solid #ccc}
.col-1 .control label{padding:0 0 0 5px}
#advice-required-entry-ccsave_expiration{width:100px!important}
#billing:firstname .validation-advice{width:auto}
#billing:lastname .validation-advice{width:auto}
.name-lastname label{margin:0}
#checkout-review-load table.onestepcheckout-summary{display:table}
#checkout-review-load table.onestepcheckout-summary tr th{border-bottom:1px solid #ccc}
#onepage-login{padding:0 0 20px}
#onepage-billing{}
#onepage-billing .customer-name .input-box input.input-text{float:left;padding:2px;border-image:initial}
#onepage-billing .wide .input-box input.input-text{width:220px}
#onepage-billing .wide .input-box .address-select{width:220px}
#onepage-billing .wide label{width:220px}
#onepage-shipping{padding:0 0 20px}
#onepage-shipping .wide .input-box input.input-text{width:220px}
#onepage-shipping .wide .input-box .address-select{width:220px}
#onepage-shipping .wide label{width:220px}
#onepage-shipping_method{padding:0 0 20px}
#onepage-payment{padding:0 0 20px}
#onepage-review{padding:0 0 20px}
#bg_fade{background-color:#555;height:100%;left:0;margin:0;padding:0;position:fixed;top:0;bottom:0;width:100%;z-index:1000}
#onepage-review table.onestepcheckout-summary th.name,th.qty,th.total{width:75px;color:#666}
#onepage-review table.onestepcheckout-summary thead{border-bottom:1px solid #ccc}
#onepage-review table.onestepcheckout-summary tr.items td{border-bottom:1px solid #ccc;padding:5px 0;width:75px}
#onepage-review table.onestepcheckout-totals tr td{width:90px;border-bottom:1px solid #ccc;padding:5px 0}
#onepage-checkout-shipping-method-additional-load .input-box input{width:176px}
#onepage-checkout-shipping-method-additional-load .input-box textarea{width:176px}
.agree label{padding-left:5px;display:block;float:left;width:250px;color:#666}
.page-title h1{color:#333;text-align:left;font-size:20px;line-height:30px}
div.loading-ajax{height:50px;text-align:center;background-image:url(images/ajax-loader.gif);background-repeat:no-repeat;background-position:center center}
div.please-wait-loading{height:40px;text-align:center;background-image:url(images/ajax-loader.gif);background-repeat:no-repeat;background-position:30% 0}
.load-wait{color:#f09}
div.wait{height:80px;float:right}
button.btn-class{padding:10px;background-color:#FF5C00;float:left}
a.close{float:right}
#gift-form{background:#fff;padding:10px;border:2px solid #828282;min-height:160px;width:350px;border-radius:7px;height:auto}
.clear{clear:both}
.onestepcheckout-error{color:red;font-weight:400}
button.login-btn{background-color:#66A094;padding:5px;border:none;font-weight:700;color:#fff;border:none}
.button-set{border:none;margin:0}
.input-box .v-fix #ccsave_expiration{width:152px}
.onestepcheckout-summary .total{text-align:right!important}
.onestepcheckout-totals .product-total .value .price{float:right!important}
.grand-total .value .price{float:right!important}
#checkout-review-table-wrapper tr{border-bottom:1px solid #ccc}
#checkout-review-table-wrapper tr th{padding:2% 0}
#checkout-review-table tr td{border-bottom:1px solid #ccc;padding:5px 0;color:#666}
#checkout-review-table tr td .product-name{color:#666;padding-right:5px;font-size: 14px;  font-weight: bold;}
#checkout-review-table tr td.grandtotal{color:#333}
caption,th,td{font-weight:400}
.onestepcheckout-coupons{margin:0 0 10px}
.sp-methods select.month{width:152px}
.form-list .field{width:254px;margin-right:0}
.form-list .dob{width:100%!important}
.form-list .dob input{width:50px}
.form-list input.input-text{width:100% !important;padding:5px 8px}
.form-list select{width:254px!important;padding:2px}
.onepage .form-list .customer-name .name-firstname{float:left;margin-right:8px;width:254px!important}
.onepage .form-list .customer-name .name-firstname .input-text{width:254px!important}
.onepage .form-list .customer-name .name-lastname{float:left;padding-left:0;width:254px!important;margin:0}
.onepage .form-list .customer-name .name-lastname .input-text{width:254px!important}
.onepage .form-list .customer-name-prefix .name-prefix{float:left;margin-right:8px;width:254px!important}
.onepage .form-list .customer-name-prefix .name-prefix .input-text{width:254px!important}
.onepage .form-list .customer-name-prefix .name-firstname{float:left;padding-left:6px;width:254px!important;margin:0}
.onepage .form-list .customer-name-prefix .name-firstname .input-text{width:254px!important}
.onepage .form-list .customer-name-prefix .name-lastname{float:left;width:262px!important;margin:0;padding-top:8px}
.onepage .form-list .customer-name-prefix .name-lastname .input-text{width:255px!important}
.onepage .form-list .customer-name-prefix-suffix .name-prefix{float:left;margin-right:8px;width:254px!important}
.onepage .form-list .customer-name-prefix-suffix .name-prefix .input-text{width:254px!important}
.onepage .form-list .customer-name-prefix-suffix .name-firstname{float:left;padding-left:6px;width:254px!important;margin:0}
.onepage .form-list .customer-name-prefix-suffix .name-firstname .input-text{width:254px!important}
.onepage .form-list .customer-name-prefix-suffix .name-lastname{float:left;margin-right:8px;width:254px!important}
.onepage .form-list .customer-name-prefix-suffix .name-lastname .input-text{width:255px!important}
.onepage .form-list .customer-name-prefix-suffix .name-lastname{float:left;margin-right:8px;width:254px!important}
.onepage .form-list .customer-name-prefix-suffix .name-lastname .input-text{width:255px!important}
.onepage .form-list .customer-name-middlename .name-firstname{float:left;margin-right:8px;width:254px!important}
.onepage .form-list .customer-name-middlename .name-firstname .input-text{width:254px!important}
.onepage .form-list .customer-name-middlename .name-middlename{float:left;margin-right:0;width:254px!important;margin-left:4px}
.onepage .form-list .customer-name-middlename .name-middlename .input-text{width:254px!important}
.onepage .form-list .customer-name-middlename .name-lastname{float:left;padding-top:8px;width:262px!important;margin:0}
.onepage .form-list .customer-name-middlename .name-lastname .input-text{width:255px!important}
.onepage .form-list .customer-name-prefix-middlename .name-prefix{float:left;margin-right:8px;width:254px!important}
.onepage .form-list .customer-name-prefix-middlename .name-prefix .input-text{width:254px!important}
.onepage .form-list .customer-name-prefix-middlename .name-firstname{float:left;padding-left:6px;width:254px!important;margin:0}
.onepage .form-list .customer-name-prefix-middlename .name-firstname .input-text{width:254px!important}
.onepage .form-list .customer-name-prefix-middlename .name-middlename{float:left;margin-right:8px;width:254px!important}
.onepage .form-list .customer-name-prefix-middlename .name-middlename .input-text{width:254px!important}
.onepage .form-list .customer-name-prefix-middlename .name-lastname{float:left;padding-left:6px;width:254px!important;margin:0}
.onepage .form-list .customer-name-prefix-middlename .name-lastname .input-text{width:254px!important}
.onepage .form-list .customer-name-prefix-middlename-suffix .name-prefix{float:left;margin-right:8px;width:254px!important}
.onepage .form-list .customer-name-prefix-middlename-suffix .name-prefix .input-text{width:254px!important}
.onepage .form-list .customer-name-prefix-middlename-suffix .name-firstname{float:left;padding-left:6px;width:254px!important;margin:0}
.onepage .form-list .customer-name-prefix-middlename-suffix .name-firstname .input-text{width:254px!important}
.onepage .form-list .customer-name-prefix-middlename-suffix .name-middlename{float:left;margin-right:8px;width:254px!important;padding-top:8px}
.onepage .form-list .customer-name-prefix-middlename-suffix .name-middlename .input-text{width:254px!important}
.onepage .form-list .customer-name-prefix-middlename-suffix .name-lastname{float:left;padding-left:6px;width:254px!important;margin:0;padding-top:8px}
.onepage .form-list .customer-name-prefix-middlename-suffix .name-lastname .input-text{width:254px!important}
.onepage .form-list .customer-name-prefix-middlename-suffix .name-suffix{float:left;padding-top:8px;width:262px!important;margin:0}
.onepage .form-list .customer-name-prefix-middlename-suffix .name-suffix .input-text{width:255px!important}
#register-customer-password{padding-right:9px}
#register-customer-password,#register-customer-confirmpassword{float:left;width:254px}
.form-list input.city-input{width:253px!important}
.form-list select.country-input{width:253px!important}
.form-list #register-customer-newsletter .field{width:250px!important}
.fieldsbilling{float:left;width:134px}
.field-set{padding:0 0 0 8px;line-height:20px}
.form-list .customer-dob .dob-day,.form-list .customer-dob .dob-month{width:86px}
.form-list .customer-dob .dob-year{width:90px!important}
#billing:month{width:80px}
.dob-month input{width:50px}
.checkout-agreements .agreement-content{overflow:auto;height:12em;padding:10px;background:none;border:1px solid #BBB6A5;margin-left:10px;border-image:initial;line-height:20px;color:#555}
.agree-check{float:left;margin-top:3px}
.form-list .customer-dob .dob-day input.input-text,.form-list .customer-dob .dob-month input.input-text{width:60px!important}
.form-list .customer-dob .dob-year input.input-text{width:80px!important}
.form-list .input-city-field{width:255px}
.form-list .input-city-field .input-box{width:255px!important}
.form-list input.input-city{width:255px!important}
.form-list .input-country-field{width:262px}
.form-list .input-country-field select{width:260px!important}
.form-list .input-company-field{width:262px}
.form-list .input-company-field .input-company{width:255px!important}
.form-list .input-city-field-ship{width:255px}
.form-list .input-city-field-ship .input-box{width:255px!important}
.form-list input.input-city-ship{width:255px!important}
.form-list .input-country-field-ship{width:262px}
.form-list .input-country-field-ship select{width:260px!important}
#payment_form_ccsave #ccsave_cc_owner,#ccsave_cc_number{width:255px!important}
#ccsave_cc_type{width:260px!important}
#ccsave_cc_cid{width:184px!important}
.onestepcheckout-comments{}
.onestepcheckout-comments textarea{height:90px;margin-top:2px;width:100%}
.onestepcheckout-toc-terms{margin-left:5px;margin-right:0;margin-top:0!important;overflow:auto;padding-right:10px;text-align:justify}
.onestepcheckout-terms-popup{background:#fff;padding:10px;border:2px solid #828282;border-radius:7px;width:500px;overflow:auto;height:300px}
p.close{float:right}
.onestepcheckout-enable-terms{padding-bottom:10px;margin:0 0 10px}
.onestepcheckout-summary,.onestepcheckout-totals{border-collapse:collapse}
table.onestepcheckout-summary{width:100%}
table.onestepcheckout-summary td.name{width:55%}
table.onestepcheckout-summary td.qty,table.onestepcheckout-summary th.qty{width:10%;text-align:center}
table.onestepcheckout-summary td.total,table.onestepcheckout-summary th.total{width:32%;text-align:right}
table.onestepcheckout-totals{width:100%;margin-bottom:20px}
table.onestepcheckout-totals tr.grand-total td{font-weight:700}
table.onestepcheckout-totals td.value{width:35%;text-align:right}
table.onestepcheckout-totals tr.grand-total td{font-weight:700}
table.onestepcheckout-totals td.title{width:65%;text-align:right}
table.onestepcheckout-totals td.value{width:35%;text-align:right}
.onepage li.dob-field{width:262px;clear:both}
.onepage li.dob-field .field{clear:both;width:262px;float:none}
.onepage li.gender-2column{width:125px;float:left}
.onepage li.gender-2column .input-text{clear:both;width:254px;float:none}
.onepage li.tax-2column{width:125px;float:left;padding-left:9px}
.onepage li.tax-2column .input-text{clear:both;width:254px;float:none}
.onepage li.tax-1column{width:262px}
.onepage li.tax-1column .input-text{width:255px!important}
.onepage li.gender-1column{width:262px}
.onepage li.gender-1column select{width:255px!important}
#shipping-new-address-form .shipping-company{width:262px}
#shipping-new-address-form .shipping-company .input-box .input-text{width:255px!important}
#shipping-new-address-form .shipping-address-field{width:262px}
#shipping-new-address-form .shipping-address-field .input-box .input-text{width:255px!important}
#shipping-new-address-form .wide{width:262px}
#shipping-new-address-form .wide .input-box .input-text{width:255px!important}
#shipping-new-address-form .shipping-city-field{width:262px}
#shipping-new-address-form .shipping-city-field .input-box .input-text{width:255px!important}
.cart .page-title{clear:both!important}
.onestepcheckout-enable-terms label{padding-top:3px}
.onestepcheckout-enable-terms em{color:#EB340A} 

  /*--------------------------------------checkout-steps page-------------------------------------*/
  #onepage-billing { }
  .login-reg a { display:none !important;}
  #checkout-review-submit #review-btn { background: #ff7404;   line-height: 22px; }
  #checkout-review-submit #review-btn span { font-size: 20px; }
  #checkout-review-submit #review-btn:hover { background-color: #e5e5e5; }
  #checkout-review-table tbody tr td.a-right { text-align: right !important; }
  table.onestepcheckout-summary th.price { text-align: right; }
  #checkout-review-table tfoot tr { border: none !important; }
  #checkout-review-table tfoot tr td { border-bottom: none !important; }
  #checkout-review-table .a-left { width: 15%; }
  #checkout-review-table .a-center-name { width: 35%; padding: 10px; }
  #checkout-review-table .a-center-qty { width: 15%; text-align: center }
  #checkout-review-table .a-right { width: 15%; }
  #checkoutSteps>li { display: inline-block; vertical-align: top; }
  .shipping-method-bg, .billing-bg { display: none !important; }
  li.column-1 { width: 25%; }
  li.column-2 { margin-left: 2%; margin-right: 2%; width: 25%; }
  li.column-3 { width: 45%; }
  